# Environments
.idea
__pycache__
logs/*
venv/*
tests/*
app/static/upload/*
app/static/thumb/*
migrations/*
.env
.flaskenv
*.xlsx
*.log
*.txt
*.bak
*.pid
*.spec
*.dir
app/config.py
!/.flaskenv
!/.flaskenv
