# Created by .ignore support plugin (hsz.mobi)
.idea/.gitignore
.idea/Flask-WC.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
__pycache__/
app.py
static/
templates/
venv/Include/
venv/Lib/site-packages/certifi/__pycache__/
venv/Lib/site-packages/chardet/__pycache__/
venv/Lib/site-packages/chardet/cli/__pycache__/
venv/Lib/site-packages/click/__pycache__/
venv/Lib/site-packages/flask/__pycache__/
venv/Lib/site-packages/flask/json/__pycache__/
venv/Lib/site-packages/get/__pycache__/
venv/Lib/site-packages/idna/__pycache__/
venv/Lib/site-packages/itsdangerous/__pycache__/
venv/Lib/site-packages/jinja2/__pycache__/
venv/Lib/site-packages/markupsafe/__pycache__/
venv/Lib/site-packages/post/__pycache__/
venv/Lib/site-packages/public/__pycache__/
venv/Lib/site-packages/query_string/__pycache__/
venv/Lib/site-packages/request/__pycache__/
venv/Lib/site-packages/requests/__pycache__/
venv/Lib/site-packages/urllib3/__pycache__/
venv/Lib/site-packages/urllib3/contrib/__pycache__/
venv/Lib/site-packages/urllib3/contrib/_securetransport/__pycache__/
venv/Lib/site-packages/urllib3/packages/__pycache__/
venv/Lib/site-packages/urllib3/packages/backports/__pycache__/
venv/Lib/site-packages/urllib3/packages/ssl_match_hostname/__pycache__/
venv/Lib/site-packages/urllib3/util/__pycache__/
venv/Lib/site-packages/werkzeug/__pycache__/
venv/Lib/site-packages/werkzeug/contrib/__pycache__/
venv/Lib/site-packages/werkzeug/debug/__pycache__/
venv/Lib/site-packages/werkzeug/middleware/__pycache__/
venv/Lib/site-packages/werkzeug/wrappers/__pycache__/
