/*
* @Author: iBoy
* @Date:   2020-05-02 09:41:32
* @Last Modified by:   Default Account
* @Last Modified time: 2020-05-02 13:51:54
*/

.w3l-grids-from2{
    width: 300px;
    margin: 0 auto;
}
.w3l-user2{
	width: 20em;
	margin: 0 auto;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background-color: rgba(255, 255, 255, 0.66);
    width: 100%;
    min-height: 255px;
    border-radius: 5px;
}
.auth_icon {
    width: 32px !important;
    height: 32px !important;
    float: left;
    padding: 10px;
}
.auth_input {
    border: 1px solid #ccc;
    padding: 8px 12px;
    font-size: 14px;
    width: 250px;
    color: #676a6c;
    margin: 1em 10px 0 auto;
}
.btn {
	width: 60%;
    outline: none;
    background-color: #0E3F96;
    color: #fff;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    margin-top: 0.5em;
}
.input-div{
    position: relative;
    margin-top: 0;
    margin-bottom: 17px;
}
.btn:hover {
     color: white !important; 
     text-decoration: none; 
}
.w3l-signup5 {
    margin: 0 auto;
}