<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Language" content="zh-CN">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="referrer" content="always"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>三峡大学失物招领中心</title>
    <link rel="stylesheet" type="text/css" href="{{ cdnUrl }}/static/css/semantic.min.css"/>
      <link rel='stylesheet prefetch' href='https://cdn.bootcss.com/semantic-ui/2.3.1/components/icon.min.css'>
    <link type="text/css" rel="stylesheet" href="{{ cdnUrl }}/static/css/space.4cb6e48f.css">
    <link rel="stylesheet" href="../static/css/share/css/share.min.css">
     <script src="{{ cdnUrl }}/static/public/jquery.min.js"></script>
    <script src="{{ cdnUrl }}/static/public/vue.min.js"></script>

    <style>

        #mainScreen {
            padding-top: 10px !important;
        }
        #wechat-qrcode img{
            margin: 0 auto;
            {#text-align: center !important;#}
        }
        #reward-div{
            width: 150px;
            height: 150px;
            text-align: center !important;
            margin: 5px auto 10px;
        }

        @media screen and (min-width: 768px) and (max-width:2048px){

}
@media screen and (max-width: 500px){
    #reward-div{
        margin-left: -10px;
    }
}

        #reward-div img{
            text-align: center !important;
    margin: 0 auto !important;
}

        #code-logo{
          position: absolute;
            left: 85px;
            right: 0;
            top: 65px;
        }
        #code-logo img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }


        #share-description{
            white-space: pre-line;
            margin-top: -1em;
        }
    </style>
</head>
<body>


<div class="pusher" id="app">

    <div id="mainScreen">
        <div class="ui container">

            <div class="ui internally stackable grid tweet-detail-page">
                <div class="eleven wide computer sixteen wide tablet column tweet-detail-wrap">
                    <div class="ui breadcrumb">
{#                        <template >#}
                            <a v-if="isRelate" class="section" href="/">所有启事</a>
{#                        </template>#}
{#                        <template >#}
                            <a  v-else class="section" href="javascript:window.history.go(-1)">所有启事</a>
{#                        </template>#}
                        <i class="right chevron icon divider"></i>
                        <div class="active section">详情</div>
                    </div>
                    <div class="ui divider hidden"></div>

                    <div class="ui feed tweet-detail tweet-item">
                        <div class="event">
                            <div class="content">
                                <div class="ui items tweet-user-info">
                                    <div class="item">
                                        <a>
                                            <div class="osc-avatar small-portrait _35x35 avatar">
                                                <img :src="item.icon" alt="头像" :title="item.realName"/>
                                            </div>
                                        </a>
                                        <div class="content">
{#                                        <template >#}
                                                <div v-if="item.kind==0" class="ui red label horizontal" data-tooltip="正在寻找">
                                                        寻物
                                                    </div>
{#                                        </template>#}
{#                                        <template >#}
                                             <div v-else class="ui blue label horizontal"
                                                         data-tooltip="等待认领">
                                                        认领
                                                    </div>
{#                                        </template>#}



                                            <a class="user __user">{{item.realName}}</a>

                                            <div class="extra">
                                                <div class="date">{{item.time}}&nbsp;&nbsp;
                                                    <i class="map marker alternate icon"></i>
                                                    <span>{{item.location}}</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="extra text" id="share-title">
                                    {{item.title}}
                                </div>
                                <div class="header" id="share-description">
                                    {{item.about}}
                                </div>

            <div class="extra multi-image" id="share-images" v-if="item.images && item.images.length > 0">
            <div data-multi-image-raw="list" class="multimgs" style="display: flex;">
                <div v-for="(src, index) in item.images" class="wrapper multing-wrapper">
                    <img :src="imgPrefix+src" :key="imgPrefix+src" @click="viewImages(index)" style="max-width: 160px; height: auto;">
                </div>
            </div>
        </div>



                                <div class="ui horizontal list">
                                    <div class="item">
                                        <span id="search-category"class="ui horizontal label">{{item.category}}</span>
                                    </div>
                                </div>

                                <!--赞，分享，评论，举报-->
                                <div class="meta">
                                    <a class="share with-popup"   data-content="分享到社交平台可以增大找回的几率" @click="share"><i class="external icon"></i>分享</a>


                                         <a v-if="item.kind==1" class="ban" @click="reward"><i class="yen sign icon"></i>赞赏</a>

                                    <a v-else class="reply with-popup" data-content="有物品消息，快告诉对方吧" href="#comments"><i class="comment outline icon"></i>评论
                                    </a>

                                    <a v-if="item.isSelf || item.isAdmin" class="like with-popup" data-content="如果您的问题已经解决，记得及时删帖哦" @click="deletePub(item.id)"> &nbsp; <i class="trash alternate outline icon "></i>删除</a>

                                   <a v-if="item.isSelf==false  && item.isAdmin==false" class="ban" @click="showFeedback"><i class="ban icon"></i>举报</a>

                                </div>
                                <div class="meta">
                                    <a target="_blank" class="with-popup" data-content="QQ无法联系？试试邮件吧！"  style="color: rgba(0,0,0,.5);" class="reply" :href="mailApi+item.email"><i class="envelope outline icon"></i>
                                        {{item.email}}</a>
                                    <a target="_blank" class="with-popup" data-content="点击QQ可直接跳转到对话框" style="color: rgba(0,0,0,.5);" class="share" :href="qqApi+item.QQ">
                                        <i class="qq icon" style="color: rgba(121, 103, 103, 0.4) !important;"></i>
                                        {{item.QQ}}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <template v-if="item.kind == 1">
                        <div v-if="item.isSelf==false && item.status==0" id="claim" class="field foot-bar" style="text-align: center;">
                            <button  class="ui blue small button" @click="claim(1,item.id)">我要认领
                            </button>
                        </div>

                        <div  v-else-if="item.status==1" class="field foot-bar" style="text-align: center;">
                            <button class="ui green small button">已认领</button>
                        </div>
                    </template>

                    <template v-else>
                            <div  v-if="item.isSelf==false && item.status==0" id="report" class="field foot-bar" style="text-align: center;">
                                <button class="ui red small button" @click="claim(0,item.id)">我要上报</button>
                            </div>
                            <div v-else-if="item.status==1" class="field foot-bar" style="text-align: center;">
                                <button class="ui green small button">已找到</button>
                            </div>
                    </template>


                    <!--comment-->
                    <h4 class="ui header" id="comments">全部评论（{{comments.length ||0}}）</h4>
                    <div class="" id="tweetCommentForm">
                        <div class="ui form tweet-form">
                            <div class="field">
                    <textarea v-model="comment" rows="4" placeholder="有话想说（评论最多100字）"
                              oninput="if(value.length > 100)value = value.slice(0, 100)" class="tweet-comment-textarea disabled-resize">
                    </textarea>
                            </div>
                            <div class="field foot-bar">
                                <div class="ui horizontal link small list toolbox">
                                </div>

                                <button :class="{disabled:  !item.id || comment.length<=  0}"
                                        class="ui primary right floated small button" @click="pubComment(item.id)">发布评论
                                </button>
                            </div>
                        </div>

                    </div>


                    <div id="tweetCommentsList">

                        <div v-for="item in comments" class="ui feed tweet-comments tweet-comments-list-container">
                            <div class="event comment comment-item">
                                <div class="label">
                                    <a>
                                        <div class="osc-avatar small-portrait _35x35">
                                            <img :src="item.icon"/>
                                        </div>
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="summary">
                                        <a class="user __user">{{item.realName}}</a>

                                        <div class="date">{{item.time}}</div>
                                    </div>
                                    <div class="extra text" id="share-title" data-emoji-render>
                                        {{item.content}}
                                    </div>
{#                                   <div class="meta">#}
{#                                         <a class="reply" href="#comments">#}
{#                                             <i class="comment outline icon"></i> 回复#}
{#                                         </a>#}
{#                                    <a class="ban" @click="showReport">#}
{#                                      <i class="ban icon"></i> 举报#}
{#                                  </a>#}
{#                                     </div>#}
                                </div>
                            </div>


                        </div>

                        <div class="page-load-status" style="display: none;">
                            <p class="infinite-scroll-request">
                                <i class="ui active small inline loader"></i>
                            </p>
{#                            <p class="infinite-scroll-last">---我是有底线的---</p>#}
{#                            <p class="infinite-scroll-error">加载失败，请刷新页面</p>#}
                        </div>
{#                        <a class="ui fluid button load-more-button" style="display: none;">更多评论</a>#}
                        <div class="list-container-last-tips" v-if="comments.length>0">
                            <p>---我是有底线的---</p>
                        </div>
                    </div>
                </div>

                <!--相关启事-->
                <div class="five wide computer sixteen wide tablet column sidebar">
                    <div class="section">
                        <h3 class="header">相关启事</h3>
                        <div class="ui feed">
                            <div v-for="item in page.list" class="event tweet-item">
                                <div class="label">
                                    <a @click="jumpDetail(item.id)">
                                        <div class="osc-avatar small-portrait _35x35">
                                            <img :src="item.icon"/>
                                        </div>
                                    </a>
                                </div>
                                <div class="content content__sidebar">
                                    <div class="tweet-user-info__sidebar">
                                        <a class="user __user" @click="jumpDetail(item.id)">
                                            <div v-if="item.kind==0 && item.status==0" class="ui red label horizontal"
                                                 data-tooltip="正在寻找">
                                                寻物
                                            </div>
                                             <div v-else-if="item.kind==0 && item.status==1"  class="ui green label horizontal"
                                                 data-tooltip="已经找到">
                                                已找到
                                            </div>
                                            <div v-else-if="item.kind==1 && item.status==0"class="ui blue label horizontal" data-tooltip="等待认领">
                                                认领
                                            </div>
                                            <div v-else-if="item.kind==1 && item.status==1"  class="ui green label horizontal"
                                                 data-tooltip="已经被认领">
                                                已认领
                                            </div>
                                            {{item.realName}}
                                        </a>

                                        <div class="date">{{item.time}}&nbsp;&nbsp;
                                            <i v-if="item.location" class="map marker alternate icon"></i>
                                            <span>{{item.location}}</span>
                                        </div>
                                    </div>
                                    <div class="extra text">
                                        {{item.title}}
                                    </div>


                                    <div class="extra multi-image" data-optlog-id="19929938">
                                        <div class="multimgs">
                                            <div   class="wrapper single-wrapper"   v-for="src in item.images">
                                                <a>
                                                    <img :src="imgPrefix+src" :key="src" @click="jumpDetail(item.id)"
                                                         data-max-width="160" data-max-height="160" alt="图片">>
                                                </a>
                                            </div>

                                    <div class="ui horizontal list">
                                        <div class="item">
                                            <span class="ui horizontal label">{{item.category}}</span>
                                        </div>
                                    </div>
                                    <div class="meta">
                                        <a class="like" @click="jumpDetail(item.id)">
                                            <i class="eye icon"></i>
                                            <span>{{item.lookCount}}</span>
                                        </a>
                                        <a class="reply"><i class="comment outline icon"></i>
                                            <span>{{item.commentCount}}</span> 评论</a>
                                        {#<a class="share" @click="share">
                                        <i class="external icon"></i>
                                        <span data-tweet-ref-count></span>
                                        分享
                                    </a>#}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section ad-wrap">
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="copyright">
        <div class="ui container">
            <div class="ui clearing basic segment" style="text-align: center;">
                <div class="ui   horizontal link list">
                    <div class="item">&copy; 三峡大学失物招领中心 | <a href="http://www.ctgu.edu.cn/"
                                                                  target="_blank">CTGU</a></div>

                </div>
            </div>
        </div>
    </div>
</div>



</div>

<div style="display: none; padding: 10px;" id="shareDiv" >
    <div class="social-share" style="text-align: center !important;" data-mobile-sites="weibo,qq,qzone,wechat"></div>
    <div id="wechat-qrcode" >
    </div>
</div>
<div style="display: none; padding: 10px;" id="rewardDiv">
    <div id="reward-div">
    </div>
    <div id="code-logo"><img :src="item.icon" alt="头像"></div>
    <p style="color: red;
    font-size: 10px;
    text-align: center !important;" >请仔细核对收款人信息，谨防上当受骗</p>
</div>
 <!--反馈弹窗-->
<div class="editor-wrapper" style="display: none; padding: 10px;" id="editorDiv">
    <div class="ui form" style="width: 100%; height: 100%;min-height:100px">
        <div class="field">
            <textarea v-model="feedback.content" rows="6" placeholder="举报理由，请注意举报信息的真实性，恶意举报封号处理" maxlength="300"
                      class="tweet-textarea disabled-resize"></textarea>
        </div>
    </div>
</div>
</div>

<style>
    #wechat-qrcode  img,canvas{
        margin: 0 auto;
        margin-left: 21%;
    }
    #wechat-qrcode h4{
            text-align: center;
    }
    .layui-layer-title h4{
        line-height: 42px;
    }
    #wechat-qrcode .help{
        text-align: center;
        margin-top: 8px;
    }
    .share-component{
        margin: 0 auto;
        margin-left: 3%;
    }
    .wechat-qrcode{
        margin-top: 10px;
    }
    .layui-layer-title {
        padding: 0 50px 0 40px !important;
    }
</style>
<script src="{{ cdnUrl }}/static/public/semantic.min.js"></script>
<script src="../static/js/mine/common.js"></script>
<script src="{{ cdnUrl }}/static/js/layer.js"></script>
<script src="../static/js/mine/detail.js"></script>
{#<script src="{{ cdnUrl }}/static/js/share/js/social-share.js"></script>#}
<script src="{{ cdnUrl }}/static/js/qrcode.js"></script>
<script>
     // hideLoading();

$(function () {
        isAnonymous();
     });
// 2 种方式都可以
        $('.with-popup').popup();
        $('.with-popup').popup({ position: 'bottom left' });
        // 如果 popup 的位置不够理想，还可以设置 offset 进行微调，例如下面向左偏移 12 像素
        $('.with-popup').popup({ position: 'bottom left', offset: -12 });
</script>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
</body>
</html>
