<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Language" content="zh-CN">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="referrer" content="always"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <title>三峡大学失物招领中心</title>
    <link rel="stylesheet" type="text/css" href="{{ cdnUrl }}/static/css/semantic.min.css"/>
      <link rel='stylesheet prefetch' href='https://cdn.bootcss.com/semantic-ui/2.3.1/components/icon.min.css'>
    <link type="text/css" rel="stylesheet" href="{{ cdnUrl }}/static/css/space.4cb6e48f.css">
    <link rel="stylesheet" href="../static/css/share/css/share.min.css">
     <script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>

    <style>
        #mainScreen {
            padding-top: 10px;
        }
    </style>
</head>
<body>


<div class="pusher" id="app">

    <div id="mainScreen">
        <div class="ui container">

            <div class="ui internally stackable grid tweet-detail-page">
                <div class="eleven wide computer sixteen wide tablet column tweet-detail-wrap">
                    <div class="ui breadcrumb">
                        <a class="section" href="/">所有启事</a>
                        <i class="right chevron icon divider"></i>
                        <div class="active section">详情</div>
                    </div>
                    <div class="ui divider hidden"></div>

                    <div class="ui feed tweet-detail tweet-item">
                        <div class="event">
                            <div class="content">
                                <div class="ui items tweet-user-info">
                                    <div class="item">
                                        <a>
                                            <div class="osc-avatar small-portrait _35x35 avatar">
                                                <img src="{{ item.icon }}" alt="头像" title="{{ item.username }}"/>
                                            </div>
                                        </a>
                                        <div class="content">
                                            {%  if item.kind==0 %}
                                                    <div class="ui red label horizontal" data-tooltip="正在寻找">
                                                        寻物
                                                    </div>
                                                {% else  %}
                                                    <div  class="ui blue label horizontal"
                                                         data-tooltip="等待认领">
                                                        认领
                                                    </div>
                                            {% endif %}


                                            <a class="user __user">{{ item.username }}</a>

                                            <div class="extra">
                                                <div class="date">{{ item.time }}&nbsp;&nbsp;
                                                    <i class="map marker alternate icon"></i>
                                                    <span>{{ item.location }}</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="extra text" id="share-title">
                                    {{ item.title }}
                                </div>
                                <div class="header" id="share-description">
                                    {{ item.about }}
                                </div>

{#
                                <div class="extra multi-image" id="share-images" v-if="item.images && item.images.length > 0">
                                    <div data-multi-image-raw="list" class="multimgs" style="display: flex;">
                                        <div v-for="(src, index) in item.images" class="wrapper multing-wrapper">
                                            <img :src="imgPrefix+src" :key="imgPrefix+src" @click="viewImages(index)" style="max-width: 160px; height: auto;">
                                        </div>
                                    </div>
                                </div>#}

                             {% if  item.images|length  > 0  %}
                                <div class="extra multi-image" id="share-images">
                                <div data-multi-image-raw="list" class="multimgs" style="display: flex;">
                                     {% for imgsrc in item.images %}
                                        <div class="wrapper multing-wrapper">
                                            <img src="static/thumb/{{ imgsrc }}" key="static/thumb/{{ imgsrc }}" onclick="viewImages({{  loop.index-1 }})" style="max-width: 160px; height: auto;">
                                         </div>
                                    {% endfor %}
                                    </div>
                                 </div>
                             {% endif %}



                                <div class="ui horizontal list">
                                    <div class="item">
                                        <span id="search-category"class="ui horizontal label">{{ item.category }}</span>
                                    </div>
                                </div>


                                <!--赞，分享，评论，举报-->
                                <div class="meta">

                                    <a class="reply with-popup" data-content="有物品消息，快告诉对方吧" href="#comments"><i class="comment outline icon"></i>
                                        <span data-tweet-reply-count>{{comments.length || 0}}</span> 评论</a>
                                    <a class="share with-popup"   data-content="分享到社交平台可以增大找回的几率" @click="share">
                                        <i class="external icon"></i>
                                        <span data-tweet-ref-count></span>
                                        分享
                                    </a>
                                {% if item.isSelf or item.isAdmin %}
                                    <a class="like with-popup" data-content="如果您的问题已经解决，记得及时删帖哦" @click="deletePub({{ item.id }})">
                                        <i class="trash alternate outline icon "></i>删除
                                    </a>
                                {% endif %}

                                    <!--  <div class="right">
                                          <a class="ban" ban-report data-id="19937739" data-obj-type="100"
                                             data-url="https://my.oschina.net/u/2553562/tweet/19937739">
                                              <i class="ban icon"></i> 举报
                                          </a>
                                      </div>-->
                                </div>
                                <div class="meta">
                                    <a target="_blank" class="with-popup" data-content="点击邮箱可给对方发送邮件"  style="color: rgba(0,0,0,.5);" class="reply" href="{{ 'https://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email='+item.email }}"><i class="envelope outline icon"></i>
                                        {{ item.email }}</a>
                                    <a target="_blank" class="with-popup" data-content="点击QQ可直接跳转到对话框" style="color: rgba(0,0,0,.5);" class="share" href="{{ 'https://api.uomg.com/api/qq.talk?qq='+item.QQ }}">
                                        <i class="qq icon" style="color: rgba(121, 103, 103, 0.4) !important;"></i>
                                        {{ item.QQ }}
                                    </a>
                                    <!--  <div class="right">
                                          <a class="ban" ban-report data-id="19937739" data-obj-type="100"
                                             data-url="https://my.oschina.net/u/2553562/tweet/19937739">
                                              <i class="ban icon"></i> 举报
                                          </a>
                                      </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                {% if item.kind == 1   %}
                    {% if item.isSelf==False and item.status==0 %}
                        <div id="claim" class="field foot-bar" style="text-align: center;">
                            <button  class="ui blue small button" @click="claim(1,{{ item.id }})">我要认领
                            </button>
                        </div>
                     {% elif item.status==1 %}
                        <div  class="field foot-bar" style="text-align: center;">
                            <button class="ui green small button">已认领</button>
                        </div>
                    {% endif %}
                {% else  %}
                    {% if item.isSelf==False and item.status==0 %}
                            <div  id="report" class="field foot-bar" style="text-align: center;">
                                <button class="ui red small button" @click="claim(0,{{ item.id }})">我要上报</button>
                            </div>
                        {% elif item.status==1  %}
                            <div  class="field foot-bar" style="text-align: center;">
                                <button class="ui green small button">已找到</button>
                            </div>
                        {% endif %}
                {% endif %}



                    <!--comment-->
                    <h3 class="ui header" id="comments">评论</h3>
                    <div class="" id="tweetCommentForm">
                        <div class="ui form tweet-form">
                            <div class="field">
                    <textarea v-model="comment" rows="4" placeholder="我有话要说（评论最多100字）"
                              oninput="if(value.length > 100)value = value.slice(0, 100)" class="tweet-comment-textarea disabled-resize">
                    </textarea>
                            </div>
                            <div class="field foot-bar">
                                <div class="ui horizontal link small list toolbox">
                                </div>

                                <button :class="{disabled:  !{{ item.id }} || comment.length<=  0}"
                                        class="ui primary right floated small button" @click="pubComment({{ item.id }})">发布评论
                                </button>
                            </div>
                        </div>

                    </div>


                    <div id="tweetCommentsList">

                        <div v-for="item in comments" class="ui feed tweet-comments tweet-comments-list-container">
                            <div class="event comment comment-item">
                                <div class="label">
                                    <a>
                                        <div class="osc-avatar small-portrait _35x35">
                                            <img :src="item.icon"/>
                                        </div>
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="summary">
                                        <a class="user __user">{{item.username}}</a>

                                        <div class="date">{{item.time}}</div>
                                    </div>
                                    <div class="extra text" id="share-title" data-emoji-render>
                                        {{item.content}}
                                    </div>
{#                                   <div class="meta">#}
{#                                         <a class="reply">#}
{#                                             <i class="comment outline icon"></i> 回复#}
{#                                         </a>#}
{#                                         <a class="ban" ban-report data-id="19937818" data-obj-type="101"#}
{#                                            data-url="https://my.oschina.net/u/2553562/tweet/19937739/#rpl_19937818">#}
{#                                             <i class="ban icon"></i> 举报#}
{#                                         </a>#}
{#                                     </div>#}
                                </div>
                            </div>


                        </div>

                        <div class="page-load-status" style="display: none;">
                            <p class="infinite-scroll-request">
                                <i class="ui active small inline loader"></i>
                            </p>
                            <p class="infinite-scroll-last">没有更多内容</p>
                            <p class="infinite-scroll-error">加载失败，请刷新页面</p>
                        </div>
                        <a class="ui fluid button load-more-button" style="display: none;">更多评论</a>
                        <div class="list-container-last-tips">
                            <p>没有更多内容</p>
                        </div>
                    </div>
                </div>

                <!--热门动弹-->
                <div class="five wide computer sixteen wide tablet column sidebar">
                    <div class="section">
                        <h3 class="header">相关启事</h3>
                        <div class="ui feed">
                            <div v-for="item in page.list" class="event tweet-item">
                                <div class="label">
                                    <a @click="jumpDetail(item.id)">
                                        <div class="osc-avatar small-portrait _35x35">
                                            <img :src="item.icon"/>
                                        </div>
                                    </a>
                                </div>
                                <div class="content content__sidebar">
                                    <div class="tweet-user-info__sidebar">
                                        <a class="user __user" @click="jumpDetail(item.id)">
                                            <div v-if="item.kind==0 && item.status==0" class="ui red label horizontal"
                                                 data-tooltip="正在寻找">
                                                寻物
                                            </div>
                                             <div v-else-if="item.kind==0 && item.status==1"  class="ui green label horizontal"
                                                 data-tooltip="已经找到">
                                                已找到
                                            </div>
                                            <div v-else-if="item.kind==1 && item.status==0"class="ui blue label horizontal" data-tooltip="等待认领">
                                                认领
                                            </div>
                                            <div v-else-if="item.kind==1 && item.status==1"  class="ui green label horizontal"
                                                 data-tooltip="已经被认领">
                                                已认领
                                            </div>
                                            {{item.username}}
                                        </a>

                                        <div class="date">{{item.time}}&nbsp;&nbsp;
                                            <i v-if="item.location" class="map marker alternate icon"></i>
                                            <span>{{item.location}}</span>
                                        </div>
                                    </div>
                                    <div class="extra text">
                                        {{item.title}}
                                    </div>


                                    <div class="extra multi-image" data-optlog-id="19929938">
                                        <div class="multimgs">
                                            <div   class="wrapper single-wrapper"   v-for="src in item.images">
                                                <a>
                                                    <img :src="imgPrefix+src" :key="src" @click="jumpDetail(item.id)"
                                                         data-max-width="160" data-max-height="160" alt="图片">>
                                                </a>
                                            </div>

                                    <div class="ui horizontal list">
                                        <div class="item">
                                            <span class="ui horizontal label">{{item.category}}</span>
                                        </div>
                                    </div>
                                    <div class="meta">
                                        <a class="like" @click="jumpDetail(item.id)">
                                            <i class="eye icon"></i>
                                            <span>{{item.lookCount}}</span>
                                        </a>
                                        <a class="reply"><i class="comment outline icon"></i>
                                            <span>{{item.commentCount}}</span> 评论</a>
                                        <a class="share" @click="share">
                                        <i class="external icon"></i>
                                        <span data-tweet-ref-count></span>
                                        分享
                                    </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section ad-wrap">
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="copyright">
        <div class="ui container">
            <div class="ui clearing basic segment" style="text-align: center;">
                <div class="ui   horizontal link list">
                    <div class="item">&copy; 三峡大学失物招领中心 | <a href="http://www.ctgu.edu.cn/"
                                                                  target="_blank">CTGU</a></div>

                </div>
            </div>
        </div>
    </div>
</div>
<div style="display: none; padding: 10px;" id="shareDiv">
    <div class="social-share" data-mobile-sites="weibo,qq,qzone,wechat"></div>
    <div id="wechat-qrcode" >
    </div>
</div>
</div>
</div>

<style>
    #wechat-qrcode  img,canvas{
        margin: 0 auto;
        margin-left: 21%;
    }
    #wechat-qrcode h4{
            text-align: center;
    }
    .layui-layer-title h4{
        line-height: 42px;
    }
    #wechat-qrcode .help{
        text-align: center;
        margin-top: 8px;
    }
    .share-component{
        margin: 0 auto;
        margin-left: 3%;
    }
    .wechat-qrcode{
        margin-top: 10px;
    }
    .layui-layer-title {
        padding: 0 50px 0 40px !important;
    }


</style>
<script src="https://cdn.bootcss.com/semantic-ui/2.3.1/semantic.min.js"></script>
<script src="../static/js/mine/common.js"></script>
<script src="{{ cdnUrl }}/static/js/layer.js"></script>
<script src="../static/js/mine/detail.js"></script>
<script src="{{ cdnUrl }}/static/js/share/js/social-share.js"></script>
<script src="{{ cdnUrl }}/static/js/qrcode.js"></script>
<script>
     // hideLoading();

$(function () {
        isAnonymous();
     });
// 2 种方式都可以
        $('.with-popup').popup();
        $('.with-popup').popup({ position: 'bottom left' });
        // 如果 popup 的位置不够理想，还可以设置 offset 进行微调，例如下面向左偏移 12 像素
        $('.with-popup').popup({ position: 'bottom left', offset: -12 });
</script>
</body>
</html>
<!-- Generated by oschina (init:0[ms],page:34[ms],ip:223.104.10.126) //-->