<!DOCTYPE HTML>
<html>
<head>
 <title>反馈管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="三峡大学失物招领中心"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- Bootstrap Core CSS -->
        <link href=" https://cdn.bootcss.com/twitter-bootstrap/3.3.4/css/bootstrap.min.css" rel='stylesheet' type='text/css'/>

    <!-- Custom CSS -->
    <link href="../static/css/style.css" rel='stylesheet' type='text/css'/>
    <!-- font CSS -->
    <!-- font-awesome icons -->
    <link href="../static/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!-- js-->
        <script src="https://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="../static/js/modernizr.custom.js"></script>
    <!--webfonts-->
    <!-- <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'> -->
    <!--//webfonts-->
    <!--animate-->
    <link href="../static/css/animate.css" rel="stylesheet" type="text/css" media="all">
    <script src="../static/js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!--//end-animate-->
    <!-- Metis Menu -->
    <script src="../static/js/metisMenu.min.js"></script>
    <script src="../static/js/custom.js"></script>
    <link href="../static/css/custom.css" rel="stylesheet">
    <!--//Metis Menu -->
</head>
<body class="cbp-spmenu-push">
<div class="main-content" id="app">
    <!--left-fixed -navigation-->
    <div class=" sidebar" role="navigation">
        <div class="navbar-collapse">
            <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="/chart.html"><i class="fa fa-bar-chart nav_icon"></i>数据统计</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-list-ul nav_icon"></i>招领管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="/found.html">招领启事</a>
                            </li>
                           <li>
                                <a href="/report.html">报表导出</a>
                            </li>
                              <li>
                                <a href="/tool.html">图片压缩</a>
                            </li>
                            <li>
                                <a href="/category.html">类别管理
                                    <!--<span class="nav-badge-btm">8</span>-->
                                </a>
                            </li>
                        </ul>
                        <!-- /nav-second-level -->
                    </li>
                    <li>
                        <a href="/userlist.html"><i class="fa fa-users nav_icon"></i>用户管理</a>
                    </li>
                    <!--<li>-->
                    <!--<a href="report1.html"><i class="fa fa-university nav_icon"></i>校区管理</a>-->
                    <!--</li>-->
                    <li>
                        <a href="/notice.html"><i class="fa fa-send-o nav_icon"></i>公告管理</a>
                    </li>
                    <li>
                        <a href="/#"><i class="fa fa-university nav_icon"></i>进入主页</a>
                    </li>
                    <li>
                        <a href="/feedback.html"><i class="fa fa-envelope nav_icon"></i>反馈管理</a>
                    </li>
                                        <li>
                        <a href="#"><i class="fa fa-dashboard nav_icon "></i>系统日志<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                             <li><a href="/log.html?type=admin">操作日志</a></li>
                               <li><a href="/log.html?type=error">错误日志</a></li>
                                <li><a href="/log.html?type=info">请求日志</a></li>

                        </ul>
                    </li>
               <li>
                 <a href="/lab.html"><i class="fa fa-flask nav_icon"></i>实验室</a>
               </li>

                    <li class="visible-xs-block">
                        <a href="#" @click="logout"><i class="fa fa-sign-out nav_icon"></i>安全退出</a>
                    </li>

                </ul>
                <!-- //sidebar-collapse -->
            </nav>
        </div>
    </div>
    <!--left-fixed -navigation-->
    <!-- header-starts -->
    <div class="sticky-header header-section ">
        <div class="header-left">
            <!--toggle button start-->
            <button id="showLeftPush"><i class="fa fa-bars"></i></button>
            <!--toggle button end-->
            <!--logo -->
            <div class="logo">
                <a href="/chart.html">
                    <h1>三峡大学失物招领中心</h1>
                    <span>管理控制台</span>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="header-right">

            <!--notification menu end -->
            <div class="profile_details visible-lg-block">
                <ul>
                    <li class="dropdown profile_details_drop">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <div class="profile_img">
									<span class="prfil-img">
										<img :src="user.icon"
                                             style="max-width: 50px; max-height: 50px;">
									</span>
                                <div class="user-name">
                                    <p v-if="user.kind==2 ">{{"管理员 "+user.realName}}</p>
                                    <p v-else="user.kind==3 ">{{"超级管理员 "+user.realName}}</p>
                                    <span>{{user.studentNum}}</span>
                                </div>
                                <i class="fa fa-angle-down lnr"></i>
                                <i class="fa fa-angle-up lnr"></i>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                        <ul class="dropdown-menu drp-mnu">
                            <!--<li><a ><i class="fa fa-cog"></i> Settings</a></li>-->
                            <!--<li><a ><i class="fa fa-user"></i> Profile</a></li>-->
                            <li><a @click="logout"><i class="fa fa-sign-out"></i>退出</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- //header-ends -->
    <!-- page content start-->
    <div id="page-wrapper" >
        <div class="main-page" style="min-height:50px;">
            <!--<h3 class="title1">反馈列表</h3>-->
            <div class="inbox-page row">
                <h4>未处理</h4>
                <div class="inbox-row widget-shadow" v-for="item in list" :key="item.id" v-if="item.status==0">
                    <!--<div class="mails"><img src="go/i1.png" alt=""/></div>-->
                    <div class="mail mail-name"><h6>{{item.realName}}&nbsp;{{item.username}}</h6></div>
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                       aria-expanded="true" aria-controls="collapseOne">
                        <div class="mail"><p><b>{{item.subject}}</b></p></div>
                    </a>
                    <div class="mail-right">
                        <div class="dropdown">
                            <a href="#" data-toggle="dropdown" aria-expanded="false">
                                <p><i class="fa fa-ellipsis-v mail-icon"></i></p>
                            </a>
                            <ul class="dropdown-menu float-right">
                                <li>
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" @click="showReply(item.id)"
                                       aria-expanded="true" aria-controls="collapseOne">
                                        <i class="fa fa-reply mail-icon"></i>
                                        回复
                                    </a>
                                </li>
                                <li>
                                    <a @click="markFeedback(item.id)">
                                        <i class="fa fa-eye mail-icon"></i>
                                        标为已读
                                    </a>
                                </li>
                                <li>
                                    <a class="font-red" @click="deleteFeedback(item.id)">
                                        <i class="fa fa-trash-o mail-icon"></i>
                                        删除
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="mail-right"><p>{{item.createTime}}</p></div>
                    <div class="clearfix"></div>
                    <div style="margin-top: 20px;" class="panel panel-default">
                        <div class="panel-body">
                            {{item.content}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="inbox-page row">
                <h4>已处理</h4>
                <div class="inbox-row widget-shadow" v-for="item in list" :key="item.id" v-if="item.status==1">
                    <!--<div class="mails"><img src="go/i1.png" alt=""/></div>-->
                    <div class="mail mail-name"><h6>{{item.realName}}&nbsp;{{item.username}}</h6></div>
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                       aria-expanded="true" aria-controls="collapseOne">
                        <div class="mail"><p><b>{{item.subject}}</b></p></div>
                    </a>
                    <div class="mail-right">
                        <div class="dropdown">
                            <a href="#" data-toggle="dropdown" aria-expanded="false">
                                <p><i class="fa fa-ellipsis-v mail-icon"></i></p>
                            </a>
                            <ul class="dropdown-menu float-right">
                                <li>
                                    <a class="font-red" @click="deleteFeedback(item.id)">
                                        <i class="fa fa-trash-o mail-icon"></i>
                                        删除
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="mail-right"><p>{{item.createTime}}</p></div>
                    <div class="clearfix"></div>
                    <div style="margin-top: 20px;" class="panel panel-default">
                        <div class="panel-body">
                            {{item.content}}
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5>
                                <span class="label label-success">{{item.answer?'已回复':'已读'}}</span>
                                &nbsp;{{item.handlerName}}&nbsp;
                                {{item.handlerEmail}}&nbsp;{{item.handlerTime}}</h5>
                        </div>
                        <div class="panel-body">
                            {{item.answer}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--footer-->
        <div class="footer">
        <p>&copy; 三峡大学失物招领中心 | <a href="https://tongji.baidu.com/web/welcome/ico?s=cadc146ea11d785cac889d32e36f336b" target="_blank">访问统计</a></p>
    </div>

    <div class="panel-body" id="replyDiv" style="display: none;">
        <div class="com-mail" style=" width: 50vw;">
            <textarea rows="6" v-model="reply.content"  minlength="300"  placeholder="说明(最多300字)" maxlength="1024" class="form-control1 control2"></textarea>
        </div>
    </div>
    <!--//footer-->
</div>
<!-- Classie -->
<script src="../static/js/classie.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.4/js/bootstrap.js"></script>
<script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
<script src="https://cdn.bootcss.com/layer/2.3/layer.js"></script>
<script src="../static/js/mine/common.js"></script>
<script src="../static/js/mine/feedback.js"></script>
<script>
     // hideLoading();
     $(function () {
        isAnonymous();
     })
</script>
</body>
</html>