<!DOCTYPE HTML>
<html>
<head>
    <title>实验室</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="三峡大学失物招领中心"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- Bootstrap Core CSS -->
        <link href=" https://cdn.bootcss.com/twitter-bootstrap/3.3.4/css/bootstrap.min.css" rel='stylesheet' type='text/css'/>

    <!-- Custom CSS -->
    <link href="../static/css/style.css" rel='stylesheet' type='text/css'/>
    <!-- font CSS -->
    <!-- font-awesome icons -->
    <link href="../static/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!-- js-->
        <script src="https://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="../static/js/modernizr.custom.js"></script>
    <script src="https://cdn.bootcss.com/moment.js/2.19.4/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>

    <!--webfonts-->
    <!-- <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'> -->
    <!--//webfonts-->
    <!--animate-->
    <link href="../static/css/animate.css" rel="stylesheet" type="text/css" media="all">
    <script src="../static/js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!--//end-animate-->
    <!-- Metis Menu -->
    <script src="../static/js/metisMenu.min.js"></script>
    <script src="../static/js/custom.js"></script>
    <link href="../static/css/custom.css" rel="stylesheet">
    <!--//Metis Menu -->
    <style>
        a {
            cursor: pointer;
        }
        td, th {
            padding: 2px !important;
        }
.lab {
    display: block;
    font-size: 1em;
    color: #555;
    border-bottom: 1px solid #DCDCDC;
    padding: 0.7em 1.5em;
}
        .widget-shadow a{
            color: white !important;
        }
    </style>
</head>
<body class="cbp-spmenu-push">
<div class="main-content" id="app">
    <!--left-fixed -navigation-->
    <div class=" sidebar" role="navigation">
        <div class="navbar-collapse">
            <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="/chart.html"><i class="fa fa-bar-chart nav_icon"></i>数据统计</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-list-ul nav_icon"></i>招领管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="/found.html">招领启事</a>
                            </li>
                          <li>
                                <a href="/report.html">报表导出</a>
                            </li>
                              <li>
                                <a href="/tool.html">图片压缩</a>
                            </li>
                            <li>
                                <a href="/category.html">类别管理
                                    <!--<span class="nav-badge-btm">8</span>-->
                                </a>
                            </li>
                        </ul>
                        <!-- /nav-second-level -->
                    </li>

                    <li>
                        <a href="/userlist.html"><i class="fa fa-users nav_icon"></i>用户管理</a>
                    </li>
                    <li>
                        <a href="/notice.html"><i class="fa fa-send-o nav_icon"></i>公告管理</a>
                    </li>
                    <li>
                        <a href="/#"><i class="fa fa-university nav_icon"></i>进入主页</a>
                    </li>
                    <li>
                        <a href="/feedback.html"><i class="fa fa-envelope nav_icon"></i>反馈管理
                            <!--<span class="nav-badge-btm">08</span>-->
                        </a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-dashboard nav_icon "></i>系统日志<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                                                             <li><a href="/log.html?type=admin">操作日志</a></li>
                               <li><a href="/log.html?type=error">错误日志</a></li>
                                <li><a href="/log.html?type=info">请求日志</a></li>

                        </ul>
                    </li>
               <li>
                 <a href="/lab.html"><i class="fa fa-flask nav_icon"></i>实验室</a>
               </li>
           <li class="visible-xs-block">
                        <a href="#" @click="logout"><i class="fa fa-sign-out nav_icon"></i>安全退出</a>
                    </li>
                </ul>
                <!-- //sidebar-collapse -->
            </nav>
        </div>
    </div>
    <!--left-fixed -navigation-->
    <!-- header-starts -->
    <div class="sticky-header header-section ">
        <div class="header-left">
            <!--toggle button start-->
            <button id="showLeftPush"><i class="fa fa-bars"></i></button>
            <!--toggle button end-->
            <!--logo -->
            <div class="logo">
                <a href="/chart.html">
                    <h1>三峡大学失物招领中心</h1>
                    <span>管理控制台</span>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="header-right">
            <!--notification menu end -->
            <div class="profile_details visible-lg-block">
                <ul>
                    <li class="dropdown profile_details_drop">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <div class="profile_img">
									<span class="prfil-img">
										<img :src="user.icon"
                                             style="max-width: 50px; max-height: 50px;">
									</span>
                                <div class="user-name">
                                    <p v-if="user.kind==2 ">{{"管理员 "+user.realName}}</p>
                                    <p v-else="user.kind==3 ">{{"超级管理员 "+user.realName}}</p>
                                    <span>{{user.studentNum}}</span>
                                </div>
                                <i class="fa fa-angle-down lnr"></i>
                                <i class="fa fa-angle-up lnr"></i>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                        <ul class="dropdown-menu drp-mnu">
                            <li><a @click="logout"><i class="fa fa-sign-out"></i>退出</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- //header-ends -->
        <!-- page content start-->
   <div id="page-wrapper">
			<div class="main-page compose">
				<div class="col-md-12 compose-left" style="width: 100%;">
					<div class="folder widget-shadow" style="margin-left: 10px;">
						<ul>
							<li class="head">介绍</li>
							<li>
								<div class="chat-right">
									<p style="line-height: 2em;text-indent: 2em;padding: 10px;">
										这里的功能是一些工具接口，用于无缝迁移，比如早期图片格式是png，后来改成了jpg，为了不影响已上传的图片，
                                        所以写了png转jpg的接口，还有后来采用缩略图显示，为了生成对应的缩略图，写了图片批量裁剪的接口，这些接口可能还会用上，但是在其他页面没有显式的提供调用方式，所以集中
                                        把一些可能还会用到的接口写在这里，有需要可以调用
									</p>
								</div>
								<div class="clearfix"> </div>
							</li>
						</ul>
					</div>
				</div>

				<div class="col-md-4 compose-left" style="margin-top: 24px;">
					<div class="folder widget-shadow" style="margin-left: 10px;">
						<ul>
							<li class="head">图片裁剪</li>
							<li class="lab">地址：tool.html/resize<span class="label label-info" style="padding: 4px 8px;"><a href="/tool.html/resize" target="_blank">执行</a></span></li>
							<li  class="lab">
                                说明：生产环境，基本无需使用
                            </li>
                            <li  class="lab">备注：同步执行，耗时较长</li>
						</ul>
					</div>
				</div>

				<div class="col-md-4 compose-left"  style="margin-top: 24px;">
					<div class="folder widget-shadow" style="margin-left: 10px;">
						<ul>
							<li class="head">垃圾清理</li>
<li class="lab">地址：tool.html/clear<span class="label label-info" style="padding: 4px 8px;"><a href="/tool.html/clear" target="_blank">执行</a></span></li>
							<li  class="lab">
                                说明：图片删除,REDIS过期删除会由于一些原因失败,比如发帖删除而帖子的配图还在，这就产生了脏数据，通过此接口可以删除那些无用数据
                            </li>
                            <li  class="lab">备注：同步执行，耗时较长，推荐使用</li>
						</ul>
					</div>
				</div>
        </div>
    </div>
    <!--footer-->
        <div class="footer">
        <p>&copy; 三峡大学失物招领中心 | <a href="https://tongji.baidu.com/web/welcome/ico?s=cadc146ea11d785cac889d32e36f336b" target="_blank">访问统计</a></p>
    </div>
    <!--//footer-->
</div>
<!-- Classie -->
<script src="../static/js/classie.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.4/js/bootstrap.js"></script>
<script src="https://cdn.bootcss.com/layer/2.3/layer.js"></script>
<script src="../static/js/mine/common.js"></script>
<script src="../static/js/mine/log.js"></script>
<script>
     // hideLoading();
     $(function () {
        isAnonymous();
        getLogs(app, "admin",false);
     })
</script>
</body>
</html>