<!DOCTYPE HTML>
<html>
<head>
    <title>操作日志</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="三峡大学失物招领中心"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- Bootstrap Core CSS -->
        <link href=" https://cdn.bootcss.com/twitter-bootstrap/3.3.4/css/bootstrap.min.css" rel='stylesheet' type='text/css'/>

    <!-- Custom CSS -->
    <link href="../static/css/style.css" rel='stylesheet' type='text/css'/>
    <!-- font CSS -->
    <!-- font-awesome icons -->
    <link href="../static/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!-- js-->
        <script src="https://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="../static/js/modernizr.custom.js"></script>
    <script src="https://cdn.bootcss.com/moment.js/2.19.4/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/vue/1.0.26/vue.min.js"></script>


    <!--animate-->
    <link href="../static/css/animate.css" rel="stylesheet" type="text/css" media="all">
    <script src="../static/js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!--//end-animate-->
    <!-- Metis Menu -->
    <script src="../static/js/metisMenu.min.js"></script>
    <script src="../static/js/custom.js"></script>
    <link href="../static/css/custom.css" rel="stylesheet">
    <!--//Metis Menu -->
    <style>
        a {
            cursor: pointer;
        }
        td, th {
            padding: 2px !important;
        }

    </style>
</head>
<body class="cbp-spmenu-push">
<div class="main-content" id="app">
    <!--left-fixed -navigation-->
    <div class=" sidebar" role="navigation">
        <div class="navbar-collapse">
            <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="/chart.html"><i class="fa fa-bar-chart nav_icon"></i>数据统计</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-list-ul nav_icon"></i>招领管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="/found.html">招领启事</a>
                            </li>
                          <li>
                                <a href="/report.html">报表导出</a>
                            </li>
                              <li>
                                <a href="/tool.html">图片压缩</a>
                            </li>
                            <li>
                                <a href="/category.html">类别管理
</a>
                            </li>
                                    <li v-if="user.kind==3">
                                <a href="/robot.html">群机器人
</a>
                            </li>

                        </ul>
                        <!-- /nav-second-level -->
                    </li>

                    <li>
                        <a href="/users.html"><i class="fa fa-users nav_icon"></i>用户管理</a>
                    </li>
                    <li>
                        <a href="/notice.html"><i class="fa fa-send-o nav_icon"></i>公告管理</a>
                    </li>
                    <li>
                        <a href="/#"><i class="fa fa-university nav_icon"></i>进入主页</a>
                    </li>
                    <li>
                        <a href="/feedback.html"><i class="fa fa-envelope nav_icon"></i>反馈管理
                            <!--<span class="nav-badge-btm">08</span>-->
                        </a>
                        <!-- //nav-second-level -->
                    </li>
                    <li v-if="user.kind==3">
                        <a href="#"><i class="fa fa-dashboard nav_icon "></i>系统日志<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                                                             <li><a href="/log.html?type=admin">操作日志</a></li>
                               <li><a href="/log.html?type=error">错误日志</a></li>
                                <li><a href="/log.html?type=info">请求日志</a></li>

                        </ul>
                    </li>
              <li v-if="user.kind==3">
                 <a href="/lab.html"><i class="fa fa-flask nav_icon"></i>实验室</a>
               </li>
           <li class="visible-xs-block">
                        <a href="#" @click="logout"><i class="fa fa-sign-out nav_icon"></i>安全退出</a>
                    </li>
                </ul>
                <!-- //sidebar-collapse -->
            </nav>
        </div>
    </div>
    <!--left-fixed -navigation-->
    <!-- header-starts -->
    <div class="sticky-header header-section ">
        <div class="header-left">
            <!--toggle button start-->
            <button id="showLeftPush"><i class="fa fa-bars"></i></button>
            <!--toggle button end-->
            <!--logo -->
            <div class="logo">
                <a href="/chart.html">
                    <h1>三峡大学失物招领中心</h1>
                    <span>管理控制台</span>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="header-right">
            <!--notification menu end -->
            <div class="profile_details visible-lg-block">
                <ul>
                    <li class="dropdown profile_details_drop">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <div class="profile_img">
									<span class="prfil-img">
										<img :src="user.icon"
                                             style="max-width: 50px; max-height: 50px;">
									</span>
                                <div class="user-name">
                                    <p v-if="user.kind==2 ">{{"管理员 "+user.realName}}</p>
                                    <p v-else="user.kind==3 ">{{"超级管理员 "+user.realName}}</p>
                                    <span>{{user.studentNum}}</span>
                                </div>
                                <i class="fa fa-angle-down lnr"></i>
                                <i class="fa fa-angle-up lnr"></i>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                        <ul class="dropdown-menu drp-mnu">
                            <li><a @click="logout"><i class="fa fa-sign-out"></i>退出</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- //header-ends -->
        <!-- page content start-->
    <div id="page-wrapper">
        <div class="main-page" style="min-height: 50px;">
    <div class="col-md-12">
         <div class="input-group" style="float: right;">
<button class="btn btn-primary glyphicon glyphicon-trash
" type="button" style="margin-right: 20px;" @click="delete('admin')" >清空</button>
</div>
    </div>

            </div>
            <div class="tables col-md-12">
                <div class="bs-example widget-shadow" style="margin-top: 0px;">
                    <table class="table table-bordered table-hover table-condensed">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>管理员</th>
                            <th>事件类型</th>
                            <th>详情</th>
                            <th>时间</th>
                        </tr>
                        </thead>
                        <tbody>
                         <tr v-for=" (index,item) in list">
                                    <th scope="row">{{index+1}}</th>
                                    <td>{{item.real_name}}</td>
                                    <td>{{item.type}}</td>
                                    <td>{{item.detail}}</td>
                                    <td>{{item.time}}</td>
                            </tr>
                        </tr>

                        </tbody>
                    </table>
                    <p v-if="list.length == 0" class="text-center">无内容</p>
                </div>
            </div>
            <div class="row">
            <div class="col-md-12" style="margin-top: 15px;">
           <span> 说明：操作日志用于记录管理员行为，默认保存时长30天，过期自动删除 (此页面仅超级管理员可见)</span>
            </div>
            </div>
        </div>
    </div>
    <!--footer-->
        <div class="footer">
        <p>&copy; 三峡大学失物招领中心 | <a href="https://tongji.baidu.com/web/welcome/ico?s=cadc146ea11d785cac889d32e36f336b" target="_blank">访问统计</a></p>
    </div>
    <!--//footer-->
</div>
<!-- Classie -->
<script src="../static/js/classie.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.4/js/bootstrap.js"></script>
<script src="https://cdn.bootcss.com/layer/2.3/layer.js"></script>
<script src="../static/js/mine/common.js"></script>
<script src="../static/js/mine/log.js"></script>
<script>
     // hideLoading();
     $(function () {
        isAnonymous();
        getLogs(app, "admin",false);
     })
</script>
</body>
</html>