<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="renderer" content="webkit">
  <title>三峡大学失物招领中心</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
    <meta name="keywords" content="三峡大学失物招领中心,三峡大学失物招领中心官网,三峡大学失物招领平台,三峡大学失物招领,三大失招,小招同学,CTGU失物招领,三大失物招领中心">
<meta name="description" content="三峡大学失物招领中心是隶属于校保卫处的校级学生组织。我们从遍布全校的失物收集箱、各教学楼等地方收集失物，扩散失物信息并负责归还失物。自成立以来，中心全体成员秉承“志愿、公益、物实”的宗旨，齐心协力、努力工作。 虽然失物招领中心这个组织还很年轻，但我们每个人都相信：暖日虽远，但必有光芒！">
  <script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
 <script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
  <link rel="stylesheet" href="../static/css/layui.css" media="all">
  <link type="text/css" rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/login.css">
<link rel="stylesheet prefetch" href="https://cdn.bootcss.com/semantic-ui/2.3.1/components/icon.min.css">
  <link id="rebirth-css" rel="stylesheet" type="text/css" href="../static/css/styles.css" />
      <style>
        body{
            margin-top: 8vh;
        }
        .tabContainer {
            display: flex;
            margin-bottom: 1em;
        }

        .tab {
            font-size: 15px;
            padding: 10px;
            box-sizing: border-box;
            flex: 1;
            cursor: pointer;
        }

        .tabActive {
            color: #fff;
            border-bottom: 1px solid #fff;
        }
        #qrcode{
            width: 250px;
            height: 250px;
            margin: 0 auto;
            margin-bottom: 10px;
        }
        #notice {
             color: #454441;
            line-height: 20px;
            font-size: 16px;
        }
          .faq p{
    margin-top: 0;
    margin-bottom: 1.46em;
    line-height: 2em;
}
.faq a {
 color: #fec40f;
}
.faq {
    margin: 0 auto;
}
  .content .logo {
    display: inline-block;
    vertical-align: middle;
    border-radius: 100%;
}
   .content .logo img{
       width: 110px;
    height: 100px;
   }
   .content ,.register{
       margin: 30px auto;
   }
          .content .bannerWord {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
    </style>
      <style type="text/css" id="responsive-header-img-css" class="responsive-header-img-css">
  .responsive-header-img {
    background-image: url(//cdn.ctguswzl.cn/static/images/login-background.jpg);
  }

  @media(max-width: 1000px) {
    .responsive-header-img {
      background-image: url(//cdn.ctguswzl.cn/static/images/login-background.jpg);
      background-image: -webkit-image-set(url(//cdn.ctguswzl.cn/static/images/login-background.jpg) 1x,
      url(//cdn.ctguswzl.cn/static/images/login-background.jpg) 2x);
      background-image: image-set(url(//cdn.ctguswzl.cn/static/images/login-background.jpg) 1x,
      url(//cdn.ctguswzl.cn/static/images/login-background.jpg) 2x);
    }
  }

  @media(max-width: 600px) {
    .responsive-header-img {
      background-image: url(https://cdn.ctguswzl.cn/static/images/login-background.jpg);
      background-image: -webkit-image-set(url(//cdn.ctguswzl.cn/static/images/login-background.jpg) 1x,
      url(//cdn.ctguswzl.cn/static/images/login-background.jpg) 2x);
      background-image: image-set(url(//cdn.ctguswzl.cn/static/images/login-background.jpg) 1x,
      url(//cdn.ctguswzl.cn/static/images/login-background.jpg) 2x);
    }
  }
  .join {
    background: linear-gradient(to bottom right, #fd2638, #3d8cd7, #48ecb6);
    background-repeat: no-repeat;
    background-size: 500% 500%;
    animation: gradient 80s ease infinite;
    border: none;
    width: 100px;
    border-radius: 15px;
    height: 30px;
    color: white;
    cursor: pointer;
    position: relative;
    z-index: 10;
    transition: box-shadow 0.5s;
}
  .layui-text ,.layui-timeline-title{
  color: white !important;
  }

  </style>
</head>
<body class="rebirth-body home-template">

<div class="d-flex site-wrapper" id="app">
          <div class="d-block d-lg-none d-xl-none sidebar-wrapper">
            <div class="sidebar-container">
          <div class="d-flex justify-content-between sidebar-header">
            <div class="sidebar-title">三峡大学失物招领中心</div>
            <div class="d-flex sidebar-right">
              <div class="d-flex align-items-center justify-content-center sidebar-search click-search">
                <i class="fas fa-search"></i>
              </div>

            </div>
          </div>
                <button class="navbar-toggler sidebar-toggler" type="button" data-toggle="collapse" aria-controls="sidebar-wrapper" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

        </div>
          </div>
  <section class="main-wrapper">
        <header class="fixed-top shadow-sm main-header scroll-reveal-header">
          <nav class="navbar navbar-expand-md header-navbar">
            <div class="container">
                  <span class="d-inline-block align-top navbar-brand-logo" style="font-size: 16px;">
                      <img src="//cdn.ctguswzl.cn/static/images/swzl-logo.jpg" alt="三峡大学失物招领中心LOGO" style="width:260px;margin-top: -5px;margin-right: 30px;">
                  </span>

                <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item nav-qi-yin-ji-qiao" role="menuitem"><a class="nav-link top-menu-nav-item"  @click="changePage(1)">常见问题</a></li>
                <li class="nav-item nav-sheng-huo-za-ji" role="menuitem"><a class="nav-link top-menu-nav-item" @click="changePage(2)">更新日志</a></li>
                <li class="nav-item nav-guan-yu" role="menuitem"><a class="nav-link top-menu-nav-item"  @click="changePage(3)">关于我们</a></li>
                <li v-if="pageIndex!=0" class="nav-item nav-qi-yin-ji-qiao" role="menuitem"><a class="nav-link top-menu-nav-item"  @click="changePage(0)">登录/注册</a></li>
            </ul>
          </div>
            </div>
          </nav>
        </header>
    <div class="main-hero">
      <div class="main-hero-bg responsive-header-img"></div>
       <div class="d-flex flex-column align-content-center justify-content-center main-hero-content">
                   <template  v-if="pageIndex==0">
{#                        <div class="text-center main-hero-content-title" style="font-size: 1.4rem !important;" v-if="tabIndex != 3">CTGU失物招领平台</div>#}
                        <div class="text-center w-75 main-hero-content-description home-sentence">
                        <div class="w3l-form">
                        <div class="w3l-grids-from2">
                            <div class="w3l-user2">
                                <div class="agile">
                                    <div class="w3l-signup5" style="">
                                        <form action="#" method="post">
                                            <div class="tabContainer" v-if="tabIndex != 3">
                                                <div title="" class="tab" :class="{tabActive: tabIndex == 0}" @click="changeTab(0)">用户登录</div>
                                                <div class="tab" :class="{tabActive: tabIndex == 1}" @click="changeTab(1)">身份认证</div>
                                            </div>
                                            <div class="tabContainer" v-else>
                                        <div class="tab" style="padding-bottom: 20px;" id="parent">
                                            <sapn style="display: inline-block;line-height: 16px;font-size: 18px;color: #000000a3;margin-bottom: 20px;}">微信扫一扫，重置密码</sapn>
                                            <div id="qrcode"></div>
                                            <span id="notice"></span>
                                        </div>
                                             </div>
                                            <template v-if="tabIndex != 3">

                                                <p class="input-div form-group">
                                                    <i class="user circle icon auth_icon"></i>
                                                    <input v-model="user.username" type="text" placeholder="学号" required="" class="auth_input form-control" />
                                                </p>

                                                <p>
                                                    <i class="lock alternate icon auth_icon"></i>
                                                                           <input v-model="user.password" type="password" :placeholder="tabIndex==1?'教务系统密码':'密码'" required="" class="auth_input form-control"/>
                                                </p>
                                                <p v-if="tabIndex!=0" >
                                                    <i class="qq icon auth_icon"></i>
                                                                            <input v-model="user.qq" type="text" placeholder="QQ" required="" class="auth_input form-control">
                                                </p>

                                            <input @click="submit" type="button" class="btn" value="确定"/>
                                            <div style="width: 100%;height: 10px;" v-if="tabIndex==0">
                                                <span  style="color: #d28520;float: left;padding: 10px;"><a  style="color:#004276;" @click=changeTab(1)>立即注册</a></span>
                                                <sapn  style="color: #d28520;float: right;padding: 10px;"><a  style="color:#004276;" @click=changeTab(3)>忘记密码？</a></sapn>
                                            </div>
                                          <div v-if="tabIndex!=0" style="text-align: left;padding: 10px;"><input type="checkbox"  value="checkbox" checked>我已阅读并同意 <a href="/policy" style="color:#004276;" target="_blank">《服务协议》</a></div>

                                    </template>

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>

                        </div>
                            </div>
                   </template>
               <template v-if="pageIndex==1">
                   <div class="faq" style="margin: 0 auto;">
                     <h5 style="margin-top: 50px;">收不到通知邮件？</h5>
                     <p>邮件延时发送，一般3分钟之内送达，若长时间没有收到，请登录QQ邮箱，检查是否在垃圾箱中，<br>
                         为了保证您能及时收到我们的通知，强烈建议您将<span style="font-weight: bold">（ctguswzl.cn）</span>添加到QQ邮箱的域名白名单中，
                        点击这里查看设置方法, <a target="_blank" href="https://service.mail.qq.com/cgi-bin/help?subtype=1&id=16&no=113" rel="nofollow">【设置方法】</a></p>
                     <h5>我的账户安全吗？</h5>
                     <p>您的密码经过加密处理，即使密码原文相同，加密之后结果也是不同的，谁都看不到密码，注册成功之后您可自行更改密码<br>
                         重置密码时密码强度也有限制，以确保您的账户安全，此外，为防止恶意登录，输入密码错误次数过多时，账户会被临时冻结，<br>
                         届时会发送微信提醒，一段时间后系统会自动解封，您也可以在微信公众号菜单栏中找到【我的订阅】，点击【设置】按钮自行解封</p>
                       <h5>其他问题？</h5>
                     <p>有关使用过程中的更多问题，请注册登录后查看站内的帮助信息</p>
                   </div>
               </template>
               <template v-if="pageIndex==2">
                           <div style="padding:20px;max-width:700px;margin:0 auto;">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 120px;color: white;">
                  <legend>更新日志</legend>
                </fieldset>
                 <ul class="layui-timeline">

                     <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis"></i>
                    <div class="layui-timeline-content layui-text">
                      <h3 class="layui-timeline-title">1月10日</h3>
                        项目开始建立
                    </div>
                  </li>

                     <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis"></i>
                    <div class="layui-timeline-content layui-text">
                      <h3 class="layui-timeline-title">3月18日</h3>
                        完成微信公众号对接<br>
                        微信接收通知、找回密码、扫码登录
                    </div>
                  </li>
                  <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis"></i>
                    <div class="layui-timeline-content layui-text">
                      <h3 class="layui-timeline-title">4月22日</h3>
                        对接QQ群，QQ机器人同步广播失物招领信息<br>
                        机器人被滥用，腾讯已关闭
                    </div>
                  </li>
                   <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis"></i>
                    <div class="layui-timeline-content layui-text">
                      <h3 class="layui-timeline-title">5月2日</h3>
                        对前端UI进行重构
                    </div>
                  </li>
                  <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis"></i>
                    <div class="layui-timeline-content layui-text">
                      <h3 class="layui-timeline-title">未来</h3>
                        未完待续...
                    </div>
                  </li>
                  </ul>
        </div>
         </template>
               <template v-if="pageIndex==3">
                            <div class="content">
                        <span class="logo">
                            <img src="//cdn.ctguswzl.cn/static/images/dept-logo.png" alt="三峡大学失物招领中心LOGO">
                        </span>

                          <header class="bannerWord" style="margin: 0 auto;">
                            <h2>Hello CTGUer!</h2>
                            <p>欢迎来到失物招领中心</p>
                        </header>
                        <div class="bannerDes" style="margin: 15px auto;line-height: 30px;">
                            三峡大学失物招领中心是隶属于校保卫处的校级学生组织。<br>
                            我们从遍布全校的失物收集箱、各教学楼等地方收集失物，扩散失物信息并负责归还失物。<br>
                            自成立以来，中心全体成员秉承“志愿、公益、物实”的宗旨，齐心协力、努力工作。<br>
                            虽然失物招领中心这个组织还很年轻，但我们每个人都相信：暖日虽远，但必有光芒！<br>
                        </div>

                        <div class="register" style="margin: 30px auto;">
                            <button class="join"><a href="https://shang.qq.com/wpa/qunwpa?idkey=6c652bd1073f3bbb87913503b6c36b89dd89cf7fb4b7b28593f971974d1cc1ef" target="_blank" style="color: white !important;" rel="noopener nofollow">加入我们</a></button>
                        </div>
                </div>
               </template>
   </div>


              <div class="main-hero-waves-area waves-area" style="max-height: 100px;">
                <svg class="waves-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                  <defs>
                      <path id="gentle-wave" d="M -160 44 c 30 0 58 -18 88 -18 s 58 18 88 18 s 58 -18 88 -18 s 58 18 88 18 v 44 h -352 Z"></path>
                  </defs>
                  <g class="parallax">
                      <use xlink:href="#gentle-wave" x="48" y="0"></use>
                    <use xlink:href="#gentle-wave" x="48" y="3"></use>
                    <use xlink:href="#gentle-wave" x="48" y="5"></use>
                    <use xlink:href="#gentle-wave" x="48" y="7"></use>
                  </g>
                </svg>
            </div>
</div>


            <section class="main-footer-waves-area waves-area"  style="max-height: 100px;">
          <svg class="waves-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M -160 44 c 30 0 58 -18 88 -18 s 58 18 88 18 s 58 -18 88 -18 s 58 18 88 18 v 44 h -352 Z" ></path>
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" ></use>
            </g>
          </svg>
        </section>
            <footer class="main-footer">
          <div class="container d-flex justify-content-md-between justify-content-center">
            <div class="text-center main-footer-copyright">
              <p style="color: #b9b8b3;">三峡大学失物招领中心 | <a href="https://www.ctguqmx.com/" target="_blank" rel="noopener nofollow">启明星工作室</a></p>
            </div>
            <div class="d-none d-md-block main-footer-meta">为你找回每一件珍视的物品</div>
          </div>
          <div class="container d-flex flex-wrap-reverse justify-content-md-between justify-content-center text-center main-footer-audit">
            <p>
              <a href="http://beian.miit.gov.cn" target="_blank" rel="nofollow noopener">晋ICP备20001631号-1</a>
            </p>
          </div>
        </footer>


      <div class="toast-wrapper" aria-live="polite" aria-atomic="true">
        <div class="toast-wrapper-list"></div>
      </div>

       </section>
</div>


<script id="jquery-js" type="text/javascript" src="../static/js/jquery.min.js"></script>


<script id="scrollreveal-js" type="text/javascript" src="../static/js/scrollreveal.min.js"></script>

<script id="content-api-js" type="text/javascript" src="../static/js/content-api.min.js"></script>

<script id="ghost-search" type="text/javascript" src="../static/js/ghost-search.min.js"></script>


<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>

<script src="https://cdn.bootcss.com/layer/2.3/layer.js"></script>
<script src="../static/js/mine/common.js"></script>
<script>

    var app = new Vue({
        el: "#app",
        data: {
            tabIndex: 0,
            pageIndex:0,
            src: baseUrl,
            now: new Date().getTime(),
            user: {
                username: "",
                password: "",
                qq: "",
            },
        },
        methods: {
            changeTab: function (index) {
                console.log(index);
                this.tabIndex = index;
                if(this.tabIndex==3){
                    $(".tabContainer").css("margin-top", "30px");
                    this.getQRCode();
                }
            },
            changePage: function (index) {
                console.log(index);
                this.pageIndex = index;
                if(index==0){
                    this.tabIndex = 0;
                }
            },
            submit: function () {
                let me = this;
                if(me.tabIndex == 1){
                    if($("input[type='checkbox']").is(':checked')==false){
                    showInfo('请阅读隐私协议！');
                    return false;
                    }
                }
                if(me.user.username=="" || me.user.password==""){
                    showInfo('用户名或密码不能为空');
                    return false;
                }
               let qq=me.user.qq;
                if(me.tabIndex == 1){
                    if(qq.length==0){
                    showError('QQ号不可为空');
                    return false;
                }
                else{
                     let reg=/^[1-9][0-9]{4,11}$/;
                     if(!reg.test(qq)) {
                         showError('QQ号格式错误');
                         return false;
                        }
	                }
                }

                $.ajax({
                    url: baseUrl + (me.tabIndex == 0 ? "/login" : "/register"),
                    method: "POST",
                    data: JSON.stringify(this.user),
                    success: function (res) {
                            if (res.success) {
                                    if(me.tabIndex==0){
                                        saveLocal("user", res.data.user);
                                        if(res.ext=='wx'){
                                              window.location=baseUrl+"/oauth/wechat.html";
                                        }
                                       else if (res.ext!==null) {
                                            window.location=baseUrl+unescape(res.ext);
                                        }
                                        else if (res.data.user.kind >= 2) {
                                            location.replace("/chart.html");
                                        }
                                        else if(res.data.user.kind==1){
                                            window.location=baseUrl;
                                        }
                                    }
                                    else{
                                        if(res.ext=="reg"){
                                            showOK(res.msg);
                                        }
                                    }
                                    me.user.password = "";
                                }
                            else {
                                showInfo(res.msg);
                            }
                    },
                });
            },
            getQRCode:function() {
                this.loadJS("../../static/js/socket.io.min.js");
                loadScript.onload = function () {//加载结束之后执行回调
                    const url = baseUrl;
                    console.log(url);
                    const socket = io(url);
                    app.socketConnect(socket);
            }
            },
            socketConnect:function(socket){
                socket.emit('qrcode');//触发通信
                    socket.on('qrcode', function (data) {
                        if (data['success']) {
                            $("#qrcode").css("background", "url(" + data['url'] + ")").css("background-size", "cover").css("background-repeat", "no-repeat");
                             app.socketServer(socket);
                             $("#notice").remove("#refresh");
                        }
                        else{
                            console.log("二维码请求失败")
                        }
                    });

            },
            socketServer:function(socket){
                    socket.emit('server',{msg: 'login'});//触发通信
                    socket.on('server', function (data) {
                        if (data['success']=="true") {
                   $.ajax({
                    url: location.href =baseUrl+"/login?token="+data['token'],
                    method: "POST",
                    success: function (res) {
                        if (res.success) {
                            saveLocal("user",res.data["user"]);
                           location.href=baseUrl;
                        }
                        else {
                                showInfo(res.msg);
                        }
                    }
                });} else {

                     if (data['data']['bg'] == '0') {
                        $("#notice").remove("#refresh");
                        $("#notice").text(data["data"]["msg"]);
                        $("#qrcode").css("background", "url(//cdn.ctguswzl.cn/static/images/qrcode-expire.jpg)").css("background-size", "cover").css("background-repeat", "no-repeat");
                         $("#notice").append("<img src=\"//cdn.ctguswzl.cn/static/images/refresh.png\" alt=\"刷新\" id=\"refresh\" width=\"25px\" style=\"margin-left:8px \" >\n");
                        $("#refresh").click(function () {
                             app.getQRCode();
                              $("#notice").text("");
                        })
                    }
             }
        });
    },
            loadJS:function(url)
            {//加载js
                loadScript = document.createElement("script");
                loadScript.type = "text/javascript";
                loadScript.src = url;
                document.head.appendChild(loadScript);
            }
        }
    });
</script>
<script src="../static/js/layui.js" charset="utf-8"></script>
</body>
</html>
