<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>三峡大学失物招领中心</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="../static/css/style-login.css" rel="stylesheet" type="text/css" media="all"/><!--stylesheet-css-->
    <script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
     <script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <style>
        body{
            margin-top: 8vh;
        }

        .tabContainer {
            display: flex;
            margin-bottom: 1em;
        }

        .tab {
            font-size: 15px;
            padding: 10px;
            box-sizing: border-box;
            flex: 1;
            cursor: pointer;
        }

        .tabActive {
            color: #fff;
            border-bottom: 1px solid #fff;
        }
    </style>
</head>
<body>
<h1>校园失物招领管理系统</h1>

<div class="w3l-form" id="app">
    <div class="w3l-grids-from2">
        <div class="w3l-user2">
            <div class="agile">
                <div class="w3l-signup5" style="">
                    <form action="#" method="post">
                        <div class="tabContainer">
                            <div title="" class="tab" :class="{tabActive: tabIndex == 0}" @click="changeTab(0)">
                                用户登录
                            </div>
                            <div class="tab" :class="{tabActive: tabIndex == 1}" @click="changeTab(1)">身份认证</div>
                        </div>
                        <input v-model="user.username" type="text" placeholder="学号" required=""/>
                        <input v-model="user.password" type="password" :placeholder="tabIndex==1?'教务系统密码':'密码'" required=""/>
                        <input v-model="user.qq" v-if="tabIndex!=0" type="text" placeholder="QQ" required=""/>
{#                        <div class="opt" v-if="tabIndex==1">#}
{#                            <input id="vcode" style="width: 65%; display: inline-block;float: left;" type="text" @keyup.enter="submit"#}
{#                                   v-model="user.code"#}
{#                                   placeholder="验证码" required="" maxlength="5"/>#}
{#                            <img alt="验证码" title="点击刷新" id="codeImg" @click="newCode" src="http://210.42.38.26:84/jwc_glxt/ValidateCode.aspx"#}
{#                                 style="float: right;  border-radius: 0px; display: inline-block; height: 40px;border: none;">#}
{#                        </div>#}
                        <input @click="submit" type="button" class="btn" value="确定"/>
                      <div v-if="tabIndex!=0" style="text-align: left;"><input type="checkbox"  value="旅游">我已阅读并同意 <a href="/private" style="color:#004276;" target="_blank">《隐私协议》</a></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>

</div>
    <footer>
        &copy;校园失物招领系统 | <a href="http://www.ctgu.edu.cn/" target="_blank">CTGU</a>
    </footer>
<!--<script src="https://cdn.bootcss.com/toastr.js/latest/toastr.min.js"></script>-->
<!--<link href="https://cdn.bootcss.com/toastr.js/latest/toastr.min.css" rel="stylesheet">-->

<script src="https://cdn.bootcss.com/layer/2.3/layer.js"></script>
<script src="../static/js/mine/common.js"></script>
<script>

    var app = new Vue({
        el: "#app",
        data: {
            tabIndex: 0,
            src: baseUrl,
            now: new Date().getTime(),
            user: {
                username: "",
                password: "",
                qq: "",
            },
        },
        methods: {
            changeTab: function (index) {
                console.log(index);
                this.tabIndex = index;
            },
            submit: function () {
                let me = this;

                if(me.tabIndex == 1){
                    if($("input[type='checkbox']").is(':checked')==false){
                    showInfo('请阅读隐私协议！');
                    return false;
                    }
                }
               var qq=me.user.qq;
                if(me.tabIndex == 1){
                    if(qq.length==0){
                    showAlertError('QQ号不可为空');
                    return false;
                }
                else{
                     var reg=/^[1-9][0-9]{4,11}$/;
                     if(!reg.test(qq)) {
                         showAlertError('QQ号格式错误');
                         return false;
                        }
	                }
                }

                $.ajax({
                    url: baseUrl + (me.tabIndex == 0 ? "/login" : "/recognize"),
                    method: "POST",
                    data: JSON.stringify(this.user),
                    success: function (res) {
                            if (res.success) {
                                    showOK(res.msg);
                                    if(me.tabIndex==0){
                                        saveLocal("user", res.data.user);
                                        {#saveSession("user", res.data.user);#}
                                        if(res.ext=='wx'){
                                              window.location=baseUrl+"/oauth/wx.html";
                                        }
                                        else if (res.ext!==null) {
                                            window.location=baseUrl+unescape(res.ext);
                                        }
                                        else if (res.data.user.kind >= 2) {
                                            location.replace("/chart.html");
                                        }
                                        else if(res.data.user.kind==1){
                                            window.location=baseUrl;
                                        }
                                    }
                                    me.user.password = "";
                                    me.user.code = "";
                                }
                            else {
                                showInfo(res.msg);
                                me.user.code = "";
                            }
                            me.newCode();
                    },
                });
            },
            newCode() {
                this.now = new Date().getTime();
            }
        }
    });
    $(function () {
        //验证码高度设置
        $("#codeImg").css("height", $("#vcode").outerHeight() + 'px');
        $(window).resize(function () {
            $("#codeImg").css("height", $("#vcode").outerHeight() + 'px');
        });
    });


</script>
</body>
</html>