<!DOCTYPE HTML>
<html>
<head>
    <title>三峡大学失物招领中心</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="三峡大学失物招领中心,三峡大学失物招领平台,三峡大学失物招领,三大失招,小招同学,三峡大学保卫处,三峡大学失物招领中心">
<meta name="description" content="三峡大学失物招领中心是隶属于校保卫处的校级学生组织。我们从遍布全校的失物收集箱、各教学楼等地方收集失物，扩散失物信息并负责归还失物。自成立以来，中心全体成员秉承“志愿、公益、物实”的宗旨，齐心协力、努力工作。 虽然失物招领中心这个组织还很年轻，但我们每个人都相信：暖日虽远，但必有光芒！">
    <link href="../static/css/style-login.css" rel="stylesheet" type="text/css" media="all"/>
    <script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
     <script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <style>
        body{
            margin-top: 8vh;
        }
        .tabContainer {
            display: flex;
            margin-bottom: 1em;
        }

        .tab {
            font-size: 15px;
            padding: 10px;
            box-sizing: border-box;
            flex: 1;
            cursor: pointer;
        }

        .tabActive {
            color: #fff;
            border-bottom: 1px solid #fff;
        }
        #qrcode{
            width: 250px;
            height: 250px;
            margin: 0 auto;
            margin-bottom: 10px;
        }
        #notice {
             color: #454441;
            line-height: 20px;
            font-size: 16px;
        }
    </style>
</head>
<body>
<h1>校园失物招领平台</h1>

<div class="w3l-form" id="app">
    <div class="w3l-grids-from2">
        <div class="w3l-user2">
            <div class="agile">
                <div class="w3l-signup5" style="">
                    <form action="#" method="post">
                        <div class="tabContainer" v-if="tabIndex != 3">
                            <div title="" class="tab" :class="{tabActive: tabIndex == 0}" @click="changeTab(0)">用户登录</div>
                            <div class="tab" :class="{tabActive: tabIndex == 1}" @click="changeTab(1)">身份认证</div>
                        </div>
                        <div class="tabContainer" v-else>
                    <div class="tab">
                        <sapn style="display: inline-block;line-height: 16px;font-size: 18px;font-weight: bold;color: #000000a3;margin-bottom: 20px;}">微信扫一扫，重置密码</sapn>
                        <div id="qrcode"></div>
                        <span id="notice"></span>
                    </div>
                         </div>
                        <template v-if="tabIndex != 3">
               <input v-model="user.username" type="text" placeholder="学号" required=""/>
                        <input v-model="user.password" type="password" :placeholder="tabIndex==1?'教务系统密码':'密码'" required=""/>
                        <input v-model="user.qq" v-if="tabIndex!=0" type="text" placeholder="QQ" required=""/>
                        <input @click="submit" type="button" class="btn" value="确定"/>
                        <div style="width: 100%;height: 10px;" v-if="tabIndex==0">
                            <span  style="color: #d28520;float: left"><a  style="color:#004276;" @click=changeTab(1)>立即注册</a></span>
                            <sapn  style="color: #d28520;float: right;"><a  style="color:#004276;" @click=changeTab(3)>忘记密码？</a></sapn>
                        </div>
                      <div v-if="tabIndex!=0" style="text-align: left;"><input type="checkbox"  value="checkbox" checked>我已阅读并同意 <a href="/policy" style="color:#004276;" target="_blank">《用户协议》</a></div>

                        </template>

                    </form>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>

</div>
    <footer>
        &copy;三峡大学失物招领中心 | <a href="http://www.ctgu.edu.cn/" target="_blank">CTGU</a>
    </footer>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>

<script src="https://cdn.bootcss.com/layer/2.3/layer.js"></script>
<script src="../static/js/mine/common.js"></script>
<script>

    var app = new Vue({
        el: "#app",
        data: {
            tabIndex: 0,
            src: baseUrl,
            now: new Date().getTime(),
            user: {
                username: "",
                password: "",
                qq: "",
            },
        },
        methods: {
            changeTab: function (index) {
                console.log(index);
                this.tabIndex = index;
                if(this.tabIndex==3){
                    this.getQRCode();
                }
            },
            submit: function () {
                let me = this;
                if(me.tabIndex == 1){
                    if($("input[type='checkbox']").is(':checked')==false){
                    showInfo('请阅读隐私协议！');
                    return false;
                    }
                }
                if(me.user.username=="" || me.user.password==""){
                    showInfo('用户名或密码不能为空');
                    return false;
                }
               let qq=me.user.qq;
                if(me.tabIndex == 1){
                    if(qq.length==0){
                    showAlertError('QQ号不可为空');
                    return false;
                }
                else{
                     var reg=/^[1-9][0-9]{4,11}$/;
                     if(!reg.test(qq)) {
                         showAlertError('QQ号格式错误');
                         return false;
                        }
	                }
                }

                $.ajax({
                    url: baseUrl + (me.tabIndex == 0 ? "/login" : "/recognize"),
                    method: "POST",
                    data: JSON.stringify(this.user),
                    success: function (res) {
                            if (res.success) {
                                console.log(res)
                                    showOK(res.msg);
                                    if(me.tabIndex==0){
                                        saveLocal("user", res.data.user);
                                        if(res.ext=='wx'){
                                              window.location=baseUrl+"/oauth/wx.html";
                                        }
                                       else if (res.ext!==null) {
                                            window.location=baseUrl+unescape(res.ext);
                                        }
                                        else if (res.data.user.kind >= 2) {
                                            location.replace("/chart.html");
                                        }
                                        else if(res.data.user.kind==1){
                                            window.location=baseUrl;
                                        }
                                    }
                                    else{
                                        if(res.ext=="reg"){
                                            showOK(res.msg);
                                        }
                                    }
                                    me.user.password = "";
                                }
                            else {
                                showInfo(res.msg);
                            }
                    },
                });
            },
            getQRCode() {
                this.loadJS("../static/js/socket.io.min.js");
                loadScript.onload = function () {//加载结束之后执行回调
                    const url = baseUrl;
                    console.log(url);
                    const socket = io(url);
                    app.socketConnect(socket);
            }
            },
            socketConnect(socket){
                //删除cokie
                deleteLocal("user");
                socket.emit('qrcode');//触发通信
                    socket.on('qrcode', function (data) {
                        if (data['success']) {
                            $("#qrcode").css("background", "url(" + data['url'] + ")").css("background-size", "cover").css("background-repeat", "no-repeat");
                             app.socketServer(socket);
                        }
                        else{
                            console.log("二维码请求失败")
                        }
                    });

            },
            socketServer(socket){
                    socket.emit('server',{msg: 'login'});//触发通信
                    socket.on('server', function (data) {
                        if (data['success']=="true") {
                   $.ajax({
                    url: location.href =baseUrl+"/login?token="+data['token'],
                    method: "POST",
                    success: function (res) {
                        if (res.success) {
                            saveLocal("user",res.data["user"]);
                           location.href=baseUrl;
                        }
                        else {
                                showInfo(res.msg);
                        }
                    }
                });} else {
                     if (data['data']['bg'] == '0') {
                        $("#notice").text(data["data"]["msg"]);
                        $("#qrcode").css("background", "url(https://ae01.alicdn.com/kf/H4deaf078934d40ff9b81e5e262a3b65eE.png)").css("background-size", "cover").css("background-repeat", "no-repeat");
                    }
             }
        });
    },
            loadJS(url)
            {//加载js
                loadScript = document.createElement("script");
                loadScript.type = "text/javascript";
                loadScript.src = url;
                document.head.appendChild(loadScript);
            }
        }
    });
</script>
</body>
</html>