<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Language" content="zh-CN">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="referrer" content="always"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <title>三峡大学失物招领中心</title>
    <link rel="stylesheet" type="text/css" href="{{ cdnUrl }}/static/css/semantic.min.css"/>
      <link rel='stylesheet prefetch' href='https://cdn.bootcss.com/semantic-ui/2.3.1/components/icon.min.css'>
    <link type="text/css" rel="stylesheet" href="{{ cdnUrl }}/static/css/space.4cb6e48f.css">
    <script src="{{ cdnUrl }}/static/public/jquery.min.js"></script>
    <script src="{{ cdnUrl }}/static/public/vue.min.js"></script>
    <style>
        .up-img {
            border: 1px solid #dddddd;
            height: 110px !important;
            /*background: url("../static/go/plus.png") no-repeat center center;*/
        }
        .up-img input {
            display: none;
            width: auto;
            border: 0;
            vertical-align: middle;
            cursor: pointer;
        }


.opr-toplist1-new {
    position: relative;
    top: 1px;
}
.share-description{
    white-space: pre-line;
    margin-top: -1em;
}

.c-text-danger {
    background-color: #f13f40;
}
.c-text {
    display: inline-block;
    padding: 2px;
    text-align: center;
    vertical-align: text-bottom;
    font-size: 12px;
    line-height: 100%;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    overflow: hidden;
}
.c-gap-icon-left-small {
    margin-left: 5px;
}

        .tweet-item {
            border-bottom: 1px solid #dddddd;
        }

        #mainScreen {
            padding-top: 10px;
        }

        @media only screen and (max-width: 767px) {
            .article-list .image {
                display: inline-block !important;
            }
        }

    .text-over {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-break: break-all;
        display: inline-block;
        margin-top: 1.5em;
    }
.about-us h4 {
    font-size: 15px;
    margin: 15px 0 15px;
    padding: 0 10px;
    border-left: 3px solid #32aa66;
    background-color: #f9f9f9;
    line-height: 35px;
}

.faq-bak h4 {
    font-size: 15px;
    margin: 15px 0 15px;
    padding: 0 10px;
    border-left: 3px solid  #51aded;
    background-color: #f9f9f9;
    line-height: 35px;
}

.about-us p{
    text-indent:2em;
    line-height: 2em;
}
.faq p{
    margin-top: 0;
    margin-bottom: 1.46em;
    line-height: 2em;
}
.faq blockquote{
    margin: 0 0 1.64em 0;
    border-left: 3px solid #dadada;
    color: #666664;
    padding-left: 20px;
    border-width: 4px;
}

.about-us ul{
        text-decoration: none;
        list-style: none;
    line-height: 2em;
}
    </style>



</head>
<body>

<div class="pusher" id="app">
    <div id="mainScreen">
        <div class="ui container">
            <div class="ui grid space-home">
                <div class="row">
                    <div class="five wide computer five wide tablet sixteen wide mobile column">
                        <!--用户信息-->
                        <div class="space-sidebar">
                            <div class="ui basic center aligned segment sidebar-section user-info">
                                <div class="avatar-wrap">
                                    <a class="ui small circular image avatar">
                                        <div class="osc-avatar large-portrait _120x120">
                                            <img v-if="user.icon" :src="user.icon" :alt="user.realName"/>
                                            <div v-else style="height: 120px; width: 120px; font-size: 80px;
                                                text-align: center; line-height: 80px; padding: 20px 0px;
                                             color: #fff;background-color: #3879d9; cursor: pointer;"
                                                 :title="user.realName">
                                                {{user.realName[0]}}
                                            </div>
                                        </div>
                                    </a>
                                    <div class="gender ui large teal circular label">
                                        <i v-if="user.gender==2" class="chevron circle down icon"></i>
                                        <i v-else="" class=" icon" :class="{venus: user.gender==1, mars:user.gender ==0,chevron:user.gender==3}"></i>
                                    </div>
                                </div>
                                <div class="ui header">
                                    <h3>{{user.realName}}</h3>
                                </div>

                            </div>

                            <div class="item action clearfix">
                                <a class="ui button follow-btn green" @click="logout">
                                    </i><span class="text">退出</span>
                                </a>
                                <div class="ui basic dropdown more dropdown-more">
                                    <div @click="showMenu=!showMenu" class="ui icon green basic button menu-btn"><i
                                            class="bars icon"></i></div>
                                    <div class="menu transition " tabindex="-1"
                                         :style="{display: showMenu?'block':'none'}">
                                        <a class="item" @click="setQQ">
                                            <i class="user circle icon"></i>修改QQ
                                        </a>

                                        <a class="item" @click="setReward">
                                            <i class="gratipay icon"></i>打赏设置
                                        </a>

                                        <a class="item" @click="setPassword">
                                            <i class="lock alternate icon"></i>修改密码
                                        </a>

                                         <a class="item" v-if="user.kind>1" href="/admin">
                                            <i class="shield alternate icon"></i>进入后台
                                        </a>
                                        <a class="item" @click="showFeedback">
                                            <i class="envelope icon"></i>反馈
                                        </a>
                                        <a class="item" @click="changeTab(5)">
                                            <i class="question circle icon"></i>帮助
                                        </a>

                                        <a class="item" @click="changeTab(6)">
                                            <i class="info circle icon"></i>关于
                                        </a>
                                    </div>
                                </div>
                            </div>


                            <div class="ui basic segment sidebar-section">
                                <h3 class="header">个人信息</h3>
                                <div class="ui list">
                                    <div class="item">学号：{{user.studentNum}}</div>
                                    <div class="item">邮箱：{{user.email}}</div>
                                    <div class="item">QQ：{{user.qq}}</div>
                                    <div class="item">加入时间：{{user.createTime}}</div>
                                    <div class="item">最近登录：{{user.lastLogin}}</div>
                                </div>
                            </div>
                            <!--通知-->
                            <div class="ui basic segment software-works sidebar-section">
                                <h3 class="header">通知公告</h3>
                                <div class="ui divided items">
                                    <div class="item" v-if="notice.length >0 && !noticeAll" @click="seeNotice(0)">
                                        <div class="content">
                                            <a class="ui small header ">{{notice[0].title}}</a><span v-if="notice[0].isNew" class="c-text c-text-danger c-gap-icon-left-small opr-toplist1-new">新</span>

                                            <div class="extra">{{notice[0].time}}</div>
                                        </div>
                                        <div v-if="notice[0].fixTop==1" class="ui basic label software-collect-btn"
                                             style="border:0">
                                            <!--<span class="number red">置顶</span>-->
                                            <i class="thumbtack icon red"></i>
                                        </div>
                                    </div>
                                    <div class="item" v-else-if="notice.length >0" v-for="(item,index) in notice"
                                         :key="item.id"
                                         @click="seeNotice(index)">
                                        <div class="content">
                                            <a class="ui small header ">{{item.title}}</a><span v-if="item.isNew" class="c-text c-text-danger c-gap-icon-left-small opr-toplist1-new">新</span>
                                            <div class="extra">{{item.time}}</div>
                                        </div>
                                        <div v-if="item.fixTop==1" class="ui basic label software-collect-btn"
                                             style="border:0">
                                            <!--<span class="number">置顶</span>-->
                                            <i class="thumbtack icon red"></i>
                                        </div>
                                    </div>

                                </div>
                                <div v-if="!noticeAll" @click="showAllNotice(true)"
                                     class="ui fluid button mini view-all-button">显示全部 {{notice.length}} 个通知
                                </div>
                                <div v-else @click="showAllNotice(false)" class="ui fluid button mini view-all-button">
                                    收起全部通知
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="eleven wide computer eleven wide tablet sixteen wide mobile column">
                        <div class="ui inverted dimmer space-index-container-loader">
                            <div class="ui text loader">加载中</div>
                        </div>
                        <div class="space-index-container">

                            <div class="hidden-scroll global-mb ">
                                <div class="ui green pointing secondary big menu space-tab">
                                    <input type="hidden" name="currentTab" value="newest">
                                    <span href="#" class="item" :class="{active: tabIndex == 0}"
                                          @click="changeTab(0)">所有</span>
                                    <span href="#" class="item" :class="{active: tabIndex == 1}"
                                          @click="changeTab(1)">搜索</span>
                                    <span href="#" class="item" :class="{active: tabIndex == 2}"
                                          @click="changeTab(2)">我的</span>
                                    <span href="#" class="item" :class="{active: tabIndex == 3}"
                                          @click="changeTab(3)">消息
                                        <!--<div class="floating ui red label">22</div>-->
                                    </span>
                                    <span href="#" class="item" :class="{active: tabIndex == 4}"
                                          @click="changeTab(4)">发布</span>
                                </div>
                            </div>
                            <div class="ui basic segment article-list" id="newestBlogList">
                                <div class="ui relaxed divided items list-container space-list-container">
                                    <!--所有-->
                                    <block v-if="tabIndex==0">
                                        <div class="field">
                                            <label><b>启事类型：</b></label>
                                            <div class="ui horizontal list">
                                                <div class="item">
                                                    <a :class="{green: tab[0].search.kind == -1}"
                                                       @click="changeTab0Kind(-1)"
                                                       class="ui horizontal label">全部</a>
                                                </div>
                                                <div class="item">
                                                    <a :class="{green: tab[0].search.kind == 0}"
                                                       @click="changeTab0Kind(0)"
                                                       class="ui horizontal label">寻物</a>
                                                </div>
                                                <div class="item">
                                                    <a :class="{green: tab[0].search.kind == 1}"
                                                       @click="changeTab0Kind(1)"
                                                       class="ui horizontal label">认领</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <label><b>物品分类：</b></label>
                                            <div class="ui horizontal list">
                                                <div class="item ">
                                                    <a @click="changeTab0Category(-1)" class="ui horizontal label"
                                                       :class="{green: tab[0].search.category == ''}">全部</a>
                                                </div>
                                                <div v-for="(item, index) in category" class="item" :key="item.name">
                                                    <a @click="changeTab0Category(index)"
                                                       class="ui horizontal label"
                                                       :class="{green: tab[0].search.category == item.name}">{{item.name}}&nbsp;{{item.count}}</a>
                                                </div>
                                            </div>
                                        </div>
                                        <block v-if="tab[0].list.length > 0">
                                            <div v-for="item in tab[0].list" class="ui feed tweet-item item blog-item"
                                                 :key="item.id">
                                                <div class="event">
                                                    <div class="content">
                                                        <div class="ui items tweet-user-info">
                                                            <div class="item">
                                                                <a @click="jumpDetail(item.id)">
                                                                    <div class="osc-avatar small-portrait _35x35 avatar"
                                                                         :title="item.username">
                                                                        <img :src="item.icon"
                                                                             alt="头像"
                                                                             :title="item.username">
                                                                    </div>
                                                                </a>
                                                                <div class="content">
                                                                    <a class="user __user" @click="jumpDetail(item.id)">
                                                                         <div v-if="item.kind==0 && item.status==0" class="ui red label horizontal"
                                                 data-tooltip="正在寻找">
                                                寻物
                                            </div>
                                             <div v-else-if="item.kind==0 && item.status==1"  class="ui  grey label horizontal"
                                                 data-tooltip="已经找到">
                                                已找到
                                            </div>
                                            <div v-else-if="item.kind==1 && item.status==0"class="ui blue label horizontal" data-tooltip="等待认领">
                                                认领
                                            </div>
                                            <div v-else-if="item.kind==1 && item.status==1"  class="ui grey label horizontal"
                                                 data-tooltip="已经被认领">
                                                已认领
                                            </div>
                                                                        {{item.realName}}
                                                                    </a>

                                                                    <div class="extra">
                                                                        <div class="date">{{item.time}}&nbsp;&nbsp;
                                                                            <i v-if="item.location"
                                                                               class="map marker alternate icon"></i>
                                                                            <span>{{item.location}}</span>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                         <div class="extra text">
                                                             {{item.title}}
                                                        </div>
                                                        <div class="headern" >
                                                            {{item.about}}
                                                        </div>
                                                        <div v-if="item.images && item.images.length > 0"
                                                             class="extra multi-image">
                                                                <div class="multimgs">
                                                                    <div  v-if="item.images.length>0" class="wrapper single-wrapper"
                                                                         v-for="src in item.images">
                                                                        <a>
                                                                            <img @click="jumpDetail(item.id)"
                                                                                 :src="imgPrefix+src" :key="src"
                                                                                 style="max-width: 160px; height: auto;">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                        </div>
                                                        <div class="ui horizontal list">
                                                            <div class="item">
                                                                <span class="ui horizontal label"
                                                                      href="#">{{item.category}}</span>
                                                            </div>
                                                        </div>
                                                        <div class="meta">
                                                            <a class="like" @click="jumpDetail(item.id)">
                                                                <i class="eye icon"></i>
                                                                <span data-tweet-like-count=""
                                                                      data-tweet-id="19932613">{{item.lookCount}}</span>
                                                            </a>
                                                            <a class="reply" @click="jumpDetail(item.id)">
                                                                <i class="comment outline icon"></i> <span>{{item.commentCount}}</span>
                                                            </a>

                                                            <a class="view" @click="jumpDetail(item.id)">查看详情</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </block>
                                        <div v-else class="ui basic segment article-list">
                                            <div class="ui center aligned basic segment">
                                                <img src="https://ae01.alicdn.com/kf/H8697e9c1d73d4ef3b925f254f1c309bfz.png">
                                                <h4 class="ui sub header grey">无内容</h4>
                                            </div>
                                        </div>
                                    </block>
                                    <!--搜索-->
                                    <block v-else-if="tabIndex==1">
                                        <div class="ui form">
                                            <div class="inline  fields">
                                                <div class="eight wide field">
                                                    <input v-model="tab[1].search.keyword" type="text"
                                                           placeholder="输入关键字">
                                                    <button @click="search" class="ui button green">GO</button>
                                                </div>
                                            </div>
                                        </div>

                                        <block v-if="tab[1].list.length > 0 && isSearched">
                                            <div v-for="item in tab[1].list" class="ui feed tweet-item item blog-item"
                                                 :key="item.id">
                                                <div class="event">
                                                    <div class="content">
                                                        <div class="ui items tweet-user-info">
                                                            <div class="item">
                                                                <a @click="jumpDetail(item.id)">
                                                                    <div class="osc-avatar small-portrait _35x35 avatar"
                                                                         :title="item.username">
                                                                        <img :src="item.icon"
                                                                             alt="头像"
                                                                             :title="item.username">
                                                                    </div>
                                                                </a>
                                                                <div class="content">
                                                                    <a class="user __user" @click="jumpDetail(item.id)">
                                                                        <div v-if="item.kind==0"
                                                                             class="ui red label horizontal"
                                                                             data-tooltip="正在寻找">
                                                                            寻物
                                                                        </div>
                                                                        <div v-else class="ui blue label horizontal"
                                                                             data-tooltip="等待认领">
                                                                            认领
                                                                        </div>
                                                                        {{item.realName}}&nbsp;{{item.username}}
                                                                    </a>

                                                                    <div class="extra">
                                                                        <div class="date">{{item.time}}&nbsp;&nbsp;
                                                                            <i v-if="item.location" class="map marker alternate icon"></i>
                                                                            <span>{{item.location}}</span>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="extra text">
                                                            {{item.title}}
                                                        </div>
                                                        <div class="headern" >
                                                            {{item.about}}
                                                        </div>
                                                        <div v-if="item.images && item.images.length > 0"
                                                             class="extra multi-image">
                                                            <div class="multimgs">
                                                                <div class="multimgs">
                                                                    <div class="wrapper single-wrapper"
                                                                         v-for="src in item.images">
                                                                        <a>
                                                                            <img @click="jumpDetail(item.id)"
                                                                                 :src="imgPrefix+src" :key="src"
                                                                                 style="max-width: 160px; height: auto;">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="ui horizontal list">
                                                            <div class="item">
                                                                <span class="ui horizontal label"
                                                                      href="#">{{item.category}}</span>
                                                            </div>
                                                      </div>
                                                        <div class="meta">
                                                            <a class="like" @click="jumpDetail(item.id)">
                                                                <i class="eye icon"></i>
                                                                <span data-tweet-like-count=""
                                                                      data-tweet-id="19932613">{{item.lookCount}}</span>
                                                            </a>
                                                            <a class="reply" @click="jumpDetail(item.id)">
                                                                <i class="comment outline icon"></i> <span>{{item.commentCount}}</span>
                                                            </a>
                                                            <a class="view" @click="jumpDetail(item.id)">查看详情</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div v-if="isSearched" class="page-load-status" style="display:block">
                                            <p class="infinite-scroll-last">---我是有底线的---</p>
                                        </div>
                                        </block>
                                        <div v-else class="ui basic segment article-list">
                                            <div class="ui center aligned basic segment">
                                                <img src="https://ae01.alicdn.com/kf/H8697e9c1d73d4ef3b925f254f1c309bfz.png">
                                                <h4 class="ui sub header grey">无内容</h4>
                                            </div>
                                        </div>
                                    </block>

                                    <!--我的-->
                                    <block v-else-if="tabIndex==2">
                                        <block v-if="tab[2].list.length > 0">
                                            <div v-for="item in tab[2].list" class="ui feed tweet-item item blog-item"
                                                 :key="item.id">
                                                <div class="event">
                                                    <div class="content">
                                                        <div class="ui items tweet-user-info">
                                                            <div class="item">
                                                                <a @click="jumpDetail(item.id)">
                                                                    <div class="osc-avatar small-portrait _35x35 avatar"
                                                                         :title="item.username">
                                                                        <img :src="item.icon"
                                                                             alt="头像"
                                                                             :title="item.username">
                                                                    </div>
                                                                </a>
                                                                <div class="content" >
                                                                    <a class="user __user" @click="jumpDetail(item.id)">
                                                                        <div v-if="item.kind==0"
                                                                             class="ui red label horizontal"
                                                                             data-tooltip="正在寻找">
                                                                            寻物
                                                                        </div>
                                                                        <div v-else class="ui blue label horizontal"
                                                                             data-tooltip="等待认领">
                                                                            认领
                                                                        </div>
                                                                        {{item.realName}}
                                                                    </a>

                                                                    <div class="extra">
                                                                        <div class="date">{{item.time}}&nbsp;&nbsp;
                                                                            <i v-if="item.location"
                                                                               class="map marker alternate icon"></i>

                                                                            <span>{{item.location}}</span>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="extra text">
                                                            {{item.title}}
                                                        </div>
                                                        <div v-if="item.images && item.images.length > 0"
                                                             class="extra multi-image">
                                                            <div class="multimgs">
                                                                <div class="wrapper single-wrapper"
                                                                     v-for="src in item.images">
                                                                    <a>
                                                                        <img @click="jumpDetail(item.id)"
                                                                             :src="imgPrefix+src" :key="src"
                                                                             style="max-width: 160px; height: auto;">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="ui horizontal list">
                                                            <div class="item">
                                                                <span class="ui horizontal label">{{item.category}}</span>
                                                            </div>
                                                        </div>
                                                        <div class="meta">
                                                            <a class="like" @click="jumpDetail(item.id)">
                                                                <i class="eye icon"></i>
                                                                <span>{{item.lookCount}}</span>
                                                            </a>
                                                            <a class="reply" @click="jumpDetail(item.id)">
                                                                <i class="comment outline icon"></i> <span>{{item.commentCount}}</span>
                                                            </a>
                                                            <a class="like" @click="deletePub(item.id)">
                                                                <i class="trash alternate outline icon"></i>删除
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </block>
                                        <div v-else class="ui basic segment article-list">
                                            <div class="ui center aligned basic segment">
                                                <img src="https://ae01.alicdn.com/kf/H8697e9c1d73d4ef3b925f254f1c309bfz.png">
                                                <h4 class="ui sub header grey">无内容</h4>
                                            </div>
                                        </div>
                                    </block>

                                    <!--消息-->
                                    <div v-else-if="tabIndex==3" class="ui basic segment article-list">
                                        <div class="ui divided items space-list-container activity-container">
                                            <div v-for="item in tab3" :key="item.id" class="item activity-item">
                                                <div class="ui avatar image">
                                                    <a>
                                                        <div class="osc-avatar small-portrait _35x35">
                                                            <img :src="item.icon">
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <div class="description">
                                                        <a class="user __user">{{item.realName}}</a>&nbsp;&nbsp;{{item.time}}

                                                    </div>
                                                    <div class="description summary" data-emoji-render="">
                                                        评论了：<a class="user" :href="'detail.html?id='+item.lostFoundId">{{item.title}}</a>
                                                    </div>
                                                    <div class="extra referer">
                                                        <div class="referer-wrapper">
                                                            <div class="extra text" data-emoji-render="">
                                                                {{item.content}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="extra">
                                                        <div class="ui horizontal small list">
                                                            <a class="item" @click="removeComment(item.id)">
                                                                <i class="trash alternate outline icon"></i>删除
                                                            </a>
                                                            <!-- <a class="item">
                                                                 <i class="external link alternate icon"></i> 查看原文
                                                             </a>-->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div v-if="tab3 && tab3.length == 0" class="ui basic segment article-list">
                                                <div class="ui center aligned basic segment">
                                                    <img src="https://ae01.alicdn.com/kf/H8697e9c1d73d4ef3b925f254f1c309bfz.png">
                                                    <h4 class="ui sub header grey">无内容</h4>
                                                </div>
                                            </div>
                                        </div>
{#                                        <div class="page-load-status">#}
{#                                            <p class="infinite-scroll-last">---我是有底线的---</p>#}
{#                                        </div>#}
                                    </div>
                                                                        <!--常见问题-->
                                    <block class="faq" v-else-if="tabIndex==5">
                                      <h4>Q：收不到通知邮件？</h4>
                                       <blockquote><p>A：邮件延时发送，一般3分钟之内送达，若长时间没有收到，请登录QQ邮箱，检查是否在垃圾箱中，为了保证您能及时收到我们的通知，强烈建议您将<span style="font-weight: bold">（ctguswzl.cn）</span>添加到QQ邮箱的域名白名单中，<a target="_blank" href="https://service.mail.qq.com/cgi-bin/help?subtype=1&id=16&no=113" rel="nofollow">【设置方法】</a></p></blockquote>
                                    <h4>Q：公众号没有收到推送通知？</h4>
                                        <blockquote><p>A：绑定微信时关注的公众号提供<span style="font-weight: bold">失物招领的消息通知服务</span>，请您不要取消关注，该公众号的运营者是<span style="font-weight: bold">第三方平台，与失物招领中心无关,一切与失物招领无关的消息，请不要相信!</span>为保证消息送达的时效性，重要消息，邮件和公众号都会发送通知，如果您无法收到公众号消息，请查看 <a target="_blank" href="https://ae01.alicdn.com/kf/H322ace2821564976ba43001656bf4885I.png" rel="nofollow">【解决办法】</a></p></blockquote>
                                     <h4>Q：发帖无法上传图片？</h4>
                                        <blockquote><p>A：考虑到服务器的压力，我们对发帖上传图片的数量以及大小做了限制，单个图片大小不得超过<span style="font-weight: bold">1MB</span>,图片数量不得超过<span style="font-weight: bold">3张</span></span>，所以您通常需要对上传的图片预先处理，比如<span style="font-weight: bold">隐私信息打码,把拍摄的照片截图上传</span></p></blockquote>
                                         <h4>Q：发帖被删除？</h4>
                                       <blockquote> <p>A：我们会对很久之前的发布的帖子进行清理，届时您会收到微信通知，如果您还需要帮助，可以再次发帖，日常使用时，若您的问题已经解决，<span style="font-weight: bold">希望您主动删除帖子</span>，感谢您的配合！</p></blockquote>
                                        <h4>Q：账户无法登陆？</h4>
                                        <blockquote><p>A：对于发帖或评论不遵守规范的用户，我们会对账户进行冻结或者注销，届时会发送邮件通知,如果您对我们的处理有异议，可选择向管理员申诉，或者系统检测到您的账户有异常登录行为，为了您的账户安全，暂时限制您的登录</p></blockquote>
                                       <h4>Q：我的账号安全吗？</h4>
                                        <blockquote><p>A：您的密码经过Hash加盐加密，即使密码原文相同，加密之后结果也是不同的，谁都看不到密码，重置密码时密码强度也有限制，以确保您的账户安全，此外，为防止恶意登录，输入密码错误次数过多时，账户会被临时冻结，届时会发送微信提醒，一段时间后系统会自动解封，您也可以在微信公众号菜单栏中找到【我的订阅】，点击【设置】按钮自行解封。</p></blockquote>
                                    <h4>Q：其他问题？</h4>
                                      <blockquote><p>A：虽然上线前已经过大量测试，但由于独立开发，技术和精力有限，难免会出现一些问题，您可以通过【前台表单】或QQ<i class="qq icon"></i><a  href="https://wpa.qq.com/msgrd?v=3&site=qq&menu=yes&uin=547142436">【547142436】</a>进行反馈进行反馈，我们会及时进行处理，并将结果反馈给您！谢谢您的合作</p></blockquote>
                                    </block>
                                    <block class="about-us" v-else-if="tabIndex==6">
                                        <h4>关于我们：</h4>

<p>
    三峡大学失物招领中心是隶属于校保卫处的校级学生组织。我们从遍布全校的失物收集箱、各教学楼等地方收集失物，扩散失物信息并负责归还失物。自成立以来，中心全体成员秉承“志愿、公益、物实”的宗旨，齐心协力、努力工作。
    虽然失物招领中心这个组织还很年轻，但我们每个人都相信：暖日虽远，但必有光芒！
</p>

<h4>网站简介：</h4>
<p>CTGU失物招领平台(ctguswzl.cn)是三峡大学失物招领中心线上平台，本平台由三峡大学启明星工作室成员与失物招领中心共同创办,建于2020年1月10日-2020年4月1日，网站前端借鉴东华理工大学开源项目，向可爱的程序猿致敬，向Web前端致敬，后台采用Flask编写，项目全部代码已在Github开源，希望有兴趣的同学能够进一步完善功能
    目前已开通发布、搜索、认领等板块，致力于为广大学生提供更加便捷的失物招领信息,欢迎各位同学提出宝贵意见或建议!
</p>


<h4>网站宗旨：</h4>
<p>免费、纯公益、服务师生</p>

<h4>联系我们：</h4>

<div class="left_div_content">
        <ul>
		<li><span>您可以通过以下方式联系我们</span></li>
		<li><span><i class="weibo icon"></i>微博 ：<wb:follow-button uid="3224639237" type="red_1" width="67" height="24"><iframe src="https://widget.weibo.com/relationship/followbutton.php?btn=red&amp;style=1&amp;uid=3224639237&amp;width=67&amp;height=24&amp;language=zh_cn" width="67" height="24" frameborder="0" scrolling="no" marginheight="0"></iframe></wb:follow-button></span></li>
		<li><span><i class="qq icon"></i>官方QQ：<a target="_blank" href="https://wpa.qq.com/msgrd?v=3&uin=1994124775&site=qq&menu=yes"><img border="0"  src="https://pub.idqqimg.com/qconn/wpa/button/button_111.gif" alt="点击这里给我发消息" title="点击这里给我发消息"/></a></span></li>
        <li><span><i class="qq icon"></i>QQ群：<a target="_blank" href="https://shang.qq.com/wpa/qunwpa?idkey=6c652bd1073f3bbb87913503b6c36b89dd89cf7fb4b7b28593f971974d1cc1ef"><img border="0" src="https://pub.idqqimg.com/wpa/images/group.png" alt="三峡大学失物招领③群" title="三峡大学失物招领③群"></a></span></li>
        <li><span><i class="envelope outline icon"></i>Email：<a target="_blank" href="https://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=HG95bmp1f3lcf2h7aW9rZnAyf3I" style="text-decoration:none;"><img style="width: 90px;height: 22px;" src="https://rescdn.qqmail.com/zh_CN/htmledition/images/function/qm_open/ico_mailme_02.png"/></a></span></li>
         <li>抖音:  dyeezcqqm1bt</li>
        </ul>
    </div>
</block>
                                    <!--发布-->
                                    <div v-else class="item activity-item">
                                        <div class="ui form" style="width: 100%;">
                                            <div class="field">
                                                <label><b>类型：</b></label>
                                                <div class="field inline" @click="changeTab4EventKind(0)">
                                                    <div class="ui radio checkbox">
                                                        <input type="radio" name="fruit" :checked="tab4.applyKind==0">
                                                        <label>寻物启事</label>
                                                    </div>
                                                </div>
                                                <div class="field inline" @click="changeTab4EventKind(1)">
                                                    <div class="ui radio checkbox">
                                                        <input type="radio" name="fruit" :checked="tab4.applyKind==1">
                                                        <label>认领启事</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <label><b>类别：</b></label>
                                                <div class="ui horizontal list">
                                                    <div v-for="(item, index) in category" class="item"
                                                         :key="item.name">
                                                        <a @click="changeTab4CategoryIndex(index)"
                                                           class="ui horizontal label"
                                                           :class="{green: tab4.categoryIndex == index}">{{item.name}}</a>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="field">
                                                <label>标题：</label>
                                                <input type="text" v-model="tab4.title" placeholder="校园卡掉了" maxlength="40">
                                            </div>
                                            <div class="field">
                                                <label>图片：</label>
                                                <div v-for="(item, index) in tab4.images" class="ui image up-img"
                                                     style="display: inline-block !important;" :key="index">
                                                    <div class="ui fluid image up-img">
                                                        <a class="ui right corner label" @click="removeImg(index)">
                                                            <i class="close icon"></i>
                                                        </a>
                                                        <img :src="item">
                                                    </div>
                                                </div>

                                                <div v-if="tab4.images.length < imgTotal" @click="changeImg(0)"
                                                     class="ui image up-img"
                                                     style="display: inline-block !important;">
                                                      <div class="ui fluid image up-img">
                                                        <input id="imgInput" type="file" accept="image/*"
                                                               onchange="changeInput(this)"  multiple="multiple">
                                                        <img src="https://ae01.alicdn.com/kf/H6d48c2a9cacd4644972fddaaf0460006Y.png">
                                                    </div>
                                                </div>

                                            </div>

                                            <div class=" field">
                                                <label class="inline">详情：</label>
<textarea class="field" maxlength="350"  v-model="tab4.about" rows="5"
placeholder="学号：2018100000,
姓名：小招同学
找到请喝奶茶，救救孩子！
(如果物品带有学号或姓名，请务必填写,以便系统进行匹配)
"></textarea>
                                            </div>

                                            <div class="field">
                                                <label>地点：</label>
                                                <input type="text" maxlength="25" v-model="tab4.location" placeholder="选填">
                                            </div>

                                            <div class="field" v-if="tab4.applyKind==1">
                                                <label>附属信息(选填一项,没有不填)：<span style="color:red;font-weight: bold; ">*</span></label>
                                                <input type="text" v-model="tab4.info" placeholder="请填写物品上的学号或姓名,若物品无上述信息，请不要填写(适用物品类别：学生证，校园卡，身份证等)">
                                            </div>
                                           <div class="field" style="text-align: center;">
                                                <button @click="submitPub" class="ui button green" type="submit">发布
                                                </button>
                                            </div>
                                        </div>

                                    </div>


                                </div>

                                <span id="flag" style="text-align: center;display: block;">
                                    <block v-if="tabIndex==0 || tabIndex==2">
                                            <img v-if="tab[tabIndex].search.pageNum+1 < tab[tabIndex].totalPage" src="https://ae01.alicdn.com/kf/H514381de973a47d6ad4c13120b0cbf51E.png" alt="">
                                            <a v-if="tab[tabIndex].search.pageNum+1 < tab[tabIndex].totalPage" @click="nextPage(0)" class="ui fluid button load-more-button"  style="display: block;">
                                            Loading</a>
                                        <div v-else class="page-load-status" style="display:block">
                                            <p class="infinite-scroll-last" v-if="tab[tabIndex].list.length>0">---我是有底线的---</p>
                                        </div>
                                    </block>
                                </span>


                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div id="copyright">
        <div class="ui container">
            <div class="ui clearing basic segment" style="text-align: center;">
                <div class="ui   horizontal link list">
                    <div class="item">&copy; 三峡大学失物招领中心 | <a href="http://www.ctgu.edu.cn/"
                                                                  target="_blank">CTGU</a> |  <a href="#"
                                                                  @click="changeTab(5)">常见问题</a> | <a href="#"
                                                                  @click="changeTab(6)">关于我们</a></div>
                </div>
            </div>
        </div>
    </div>

    <!--反馈弹窗-->
    <div class="editor-wrapper" style="display: none; padding: 10px;" id="editorDiv">
        <div class="ui form" style="width: 100%; height: 100%;min-height:100px">
            <div class="field">
                <input v-model="feedback.subject" placeholder="主题（最多40字）" maxlength="50"
                       class="tweet-textarea disabled-resize" autofocus/>
            </div>
            <div class="field">
                <textarea v-model="feedback.content" rows="6" placeholder="您有什么意见或建议，或者您需要什么帮助（最多300字）" maxlength="300"
                          class="tweet-textarea disabled-resize"></textarea>
            </div>
        </div>
    </div>

    <!--修改密码-->
    <div class="editor-wrapper" style="display: none; padding: 10px;" id="pwdDiv">
        <div class="ui form" style="width: 100%; height: 100%;">
            <div class="field">
                <input v-model="password.oldPassword" placeholder="旧密码" maxlength="256" type="password"
                       class="tweet-textarea disabled-resize" autofocus/>
            </div>
            <div class="field">
                <input v-model="password.newPassword" placeholder="新密码" maxlength="256" type="password"
                       class="tweet-textarea disabled-resize"/>
            </div>
            <div class="field">
                <input v-model="password.confirmPassword" placeholder="确认新密码" maxlength="256" type="password"
                       class="tweet-textarea disabled-resize"/>
            </div>
        </div>
    </div>

        <!--设置打赏码-->
    <div class="editor-wrapper" style="display: none; padding: 10px;" id="rewardDiv">
        <div class="ui form" style="width: 100%; height: 100%;">
            <div class="field">
                <input v-model="wxReward" placeholder="请看帮助信息" maxlength="256" type="text"
                       class="tweet-textarea disabled-resize" autofocus/>
            </div>
              <span  @click="showRewardHelp" style="float: right;" ><i class="question circle outline icon" ></i>帮助</span>
        </div>
    </div>


</div>
<script src="{{ cdnUrl }}/static/js/layer.js"></script>
<script src="../static/js/mine/common.js"></script>
<script src="{{ cdnUrl }}/static/public/semantic.min.js"></script>
<script src="../static/js/mine/user.js"></script>
<script>
     // hideLoading();
$(function () {
    isAnonymous();
});
</script>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
</body>
</html>