<!DOCTYPE HTML>
<html>
<head>
    <title>用户页面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="三峡大学失物招领中心"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- Bootstrap Core CSS -->
        <link href=" https://cdn.bootcss.com/twitter-bootstrap/3.3.4/css/bootstrap.min.css" rel='stylesheet' type='text/css'/>

    <!-- Custom CSS -->
    <link href="../static/css/style.css" rel='stylesheet' type='text/css'/>
    <!-- font CSS -->
    <!-- font-awesome icons -->
    <link href="../static/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!-- js-->
        <script src="https://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="../static/js/modernizr.custom.js"></script>
    <!--webfonts-->
    <!-- <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'> -->
    <!--//webfonts-->
    <!--animate-->
    <link href="../static/css/animate.css" rel="stylesheet" type="text/css" media="all">
    <script src="../static/js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!--//end-animate-->
    <!-- Metis Menu -->
    <script src="../static/js/metisMenu.min.js"></script>
    <script src="../static/js/custom.js"></script>
    <link href="../static/css/custom.css" rel="stylesheet">
    <!--//Metis Menu -->
    <style>
        a {
            cursor: pointer;
        }

        td, th {
            padding: 2px !important;
        }
    </style>
</head>
<body class="cbp-spmenu-push">
<div class="main-content" id="app">
    <!--left-fixed -navigation-->
    <div class=" sidebar" role="navigation">
        <div class="navbar-collapse">
            <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="/chart.html"><i class="fa fa-bar-chart nav_icon"></i>数据统计</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-list-ul nav_icon"></i>招领管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="/found.html">招领启事</a>
                            </li>
                            <li>
                                <a href="/report.html">报表导出</a>
                            </li>
                              <li>
                                <a href="/tool.html">图片压缩</a>
                            </li>
                            <li>
                                <a href="/category.html">类别管理
                                    <!--<span class="nav-badge-btm">8</span>-->
                                </a>
                            </li>
                        </ul>
                        <!-- /nav-second-level -->
                    </li>

                    <li>
                        <a href="/userlist.html"><i class="fa fa-users nav_icon"></i>用户管理</a>
                    </li>


                    <li>
                        <a href="/notice.html"><i class="fa fa-send-o nav_icon"></i>公告管理</a>
                    </li>
                    <li>
                        <a href="/#"><i class="fa fa-university nav_icon"></i>用户主页</a>
                    </li>
                    <li>
                        <a href="/feedback.html"><i class="fa fa-envelope nav_icon"></i>反馈管理
                            <!--<span class="nav-badge-btm">08</span>-->
                        </a>
                        <!-- //nav-second-level -->
                    </li>
                 <li v-if="user.kind==3">
                        <a href="#"><i class="fa fa-dashboard nav_icon "></i>日志管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                                                             <li><a href="/log.html?type=admin">操作日志</a></li>
                               <li><a href="/log.html?type=error">错误日志</a></li>
                                <li><a href="/log.html?type=info">请求日志</a></li>

                        </ul>
                    </li>
           <li class="visible-xs-block">
                        <a href="#" @click="logout"><i class="fa fa-sign-out nav_icon"></i>安全退出</a>
                    </li>
                </ul>
                <!-- //sidebar-collapse -->
            </nav>
        </div>
    </div>
    <!--left-fixed -navigation-->
    <!-- header-starts -->
    <div class="sticky-header header-section ">
        <div class="header-left">
            <!--toggle button start-->
            <button id="showLeftPush"><i class="fa fa-bars"></i></button>
            <!--toggle button end-->
            <!--logo -->
            <div class="logo">
                <a href="/chart.html">
                    <h1>三峡大学失物招领中心</h1>
                    <span>管理控制台</span>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="header-right">
            <!--notification menu end -->
            <div class="profile_details visible-lg-block">
                <ul>
                    <li class="dropdown profile_details_drop">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <div class="profile_img">
									<span class="prfil-img">
										<img :src="user.icon"
                                             style="max-width: 50px; max-height: 50px;">
									</span>
                                <div class="user-name">
                                    <p v-if="user.kind==2 ">{{"管理员 "+user.realName}}</p>
                                    <p v-else="user.kind==3 ">{{"超级管理员 "+user.realName}}</p>
                                    <span>{{user.studentNum}}</span>
                                </div>
                                <i class="fa fa-angle-down lnr"></i>
                                <i class="fa fa-angle-up lnr"></i>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                        <ul class="dropdown-menu drp-mnu">
                            <!--<li><a ><i class="fa fa-cog"></i> Settings</a></li>-->
                            <!--<li><a ><i class="fa fa-user"></i> Profile</a></li>-->
                            <li><a @click="logout"><i class="fa fa-sign-out"></i>退出</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- //header-ends -->
        <!-- page content start-->
    <div id="page-wrapper" >
        <div class="main-page">
            <div class="col-md-12">
 <div class="col-lg-6">
            <button v-if="checkedList.length>1" style="background-color: #d9534f;border-color: #d43f3a;" @click="deleteAll" class="btn btn-primary glyphicon glyphicon-trash" type="button"> 批量删除</button>
                </div>
                <div class="col-lg-6" style="padding: 0px 0px 20px 0px;">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="关键字" v-model="search.keyword">
                        <span class="input-group-btn">
                                <button class="btn btn-primary" type="button" @click="submit">搜索</button>
                              </span>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->

            </div>
            <div class="tables col-md-12">
                <div class="bs-example widget-shadow" style="margin-top: 0px;">
                    <table class="table table-bordered table-hover table-condensed">
                        <thead>
                        <tr>
                            <th style="width:45px;display"><input type="checkbox" id="setBox" @click="checkAll" v-model="checked"> ID</th>
                            <th>学号</th>
                            <th>姓名</th>
                            <th>性别</th>
                            <th>专业</th>
                            <th>班级</th>
                            <th>学院</th>
                            <th>QQ</th>
                            <th>最近登录</th>
                            <th>状态</th>
                            <th>
                                <span class="glyphicon glyphicon-th-list"></span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(item, index) in result.list">
                            <th scope="row"><input type="checkbox" name="id" :value="item.userId" v-model="checkedList">  {{index+1+search.pageSize*search.pageNum}}</th>
                            <td>{{item.username}}</td>
                            <td>{{item.name}}&nbsp;
                                <span v-if="item.kind==2" class="glyphicon glyphicon-user text-primary" title="管理员"></span>
                            <span v-if="item.kind==3" class="glyphicon glyphicon-user text-warning" title="超级管理员" style="color: #c54123;"></span>
                            </td>
                            <td>{{item.gender}}</td>
                            <td>{{item.major}}</td>
                            <td>{{item.classNum}}</td>
                            <td>{{item.academy}}</td>
                            <td>{{item.qq}}</td>
                            <td>{{item.lastLogin}}</td>
                            <td>
                                <span v-if="item.status=='2'" class="label-success label">正常</span>
                                <span v-else-if="item.status=='1'" class="label-warning label">未认证</span>
                                <span v-else class="label-danger label">已冻结</span>
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li v-if="item.status=='2' && user.kind> item.kind"><a @click="resetPassword(item.userId)">重置密码</a></li>
                                        <!--<li role="separator" class="divider"></li>-->
                                        <li v-if="item.status=='2' && user.kind > item.kind"><a @click="freezeUser(item.userId)">冻结账号</a></li>
                                        <!--<li role="separator" class="divider"></li>-->
                                        <li v-else-if="item.status=='0' && user.kind > item.kind"><a @click="unfreezeUser(item.userId)">解冻账号</a></li>
{#                                        <li v-else-if="item.status=='1'"><a @click="unfreezeUser(item.userId)">发送认证邮件</a></li>#}
                                        <!--<li role="separator" class="divider"></li>-->
                                        <li>
                                            <li v-if="item.kind==1 && user.kind==3"><a @click="setAsManager(item.userId,1)">添加为管理员</a></li>
                                            <li v-else-if="item.kind==2 && user.kind==3"><a @click="setAsManager(item.userId, 0)">移除该管理员</a></li>
                                        </li>
                                         <li v-if="user.kind==3 && item.kind!=3"><a @click="deleteUser(item.userId)">删除用户</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                    <p v-if="result.list.length == 0" class="text-center">无内容</p>
                </div>
            </div>
            <div class="row">

                <div class="col-md-7 col-sm-12">
                    <nav>
                        <ul class="pagination">
                            <li><a @click="toPage(0)">首页</a></li>
                            <li :class="{disabled: search.pageNum==0}">
                                <a @click="toPage(search.pageNum-1)" aria-label="Previous">
                                    <span aria-hidden="true">«</span></a>
                            </li>
                            <li v-for="num in result.totalPage" :class="{active: num==currentPage}">
                                <a @click="toPage(num-1)">{{num}}</a>
                            </li>
                            <li :class="{disabled: search.pageNum>=result.totalPage - 1}">
                                <a @click="toPage(search.pageNum+1)"
                                   aria-label="Next"><span aria-hidden="true">»</span></a>
                            </li>
                            <li><a @click="toPage(result.totalPage-1)">末页</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-5 col-sm-12">
                    <div class="input-group" style="margin-top:20px;">
                        <span class="input-group-addon"  id="sizing-addon1">共{{result.total}}条，每页</span>
                        <input type="text" class="form-control" style="padding-left: 10px; padding-right: 10px;text-align: center;" v-model="search.pageSize">
                        <span class="input-group-addon" id="sizing-addon2">条，第</span>
                        <input type="text" class="form-control" style="padding-left: 10px; padding-right: 10px;text-align: center;" :value="currentPage" id="pgNum">
                        <span class="input-group-addon" id="sizing-addon3">/{{result.totalPage}}页</span>
                        <span class="input-group-btn" style="width: auto;">
                                <button class="btn btn-primary" type="button" @click="submit">确定</button>
                            </span>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--footer-->
        <div class="footer">
        <p>&copy; 三峡大学失物招领中心 | <a href="https://tongji.baidu.com/web/welcome/ico?s=cadc146ea11d785cac889d32e36f336b" target="_blank">访问统计</a></p>
    </div>
    <!--//footer-->
</div>
<!-- Classie -->
<script src="../static/js/classie.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.4/js/bootstrap.js"></script>
<script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
<script src="https://cdn.bootcss.com/layer/2.3/layer.js"></script>
<script src="../static/js/mine/common.js"></script>
<script src="../static/js/mine/userlist.js"></script>
<script>
     // hideLoading();
     $(function () {
        isAnonymous();
     })
</script>
</body>
</html>